@charset "utf-8";

/* 메인 레이아웃 */
#body_wrap{position:relative;width:100%;margin-top:0px;}
#gnb{position:relative;width:100%;z-index:1;}
.topbar{position:relative;width:100%;height:31px;}
.topbar_inner{position:relative;width:1050px;height:31px;margin:0 auto;}
.topbar_shortcut{float:left;}
.topbar_menu{float:right;padding-top:10px;font-size:12px;color:#FFFFFF;}
.link_white:link, .link_white:visited, .link_white:hover{font-size:12px;color:#FFFFFF;text-decoration:none;}

/* s: 2016-10-06 */
/* .submu는 sub.css에서 삭제하고 아래 추가 */
.gnbMenu{position:relative;clear:both;height:120px;}
.gnbLogo{width:225px;margin-top:0px;margin-left:0px;float:left;}
.gnbsubMenu{width:825px;padding-top:20px;float:right;}
.gnbsubMenu > ul > li{float: left;padding:0 1px;}
.gnbsubMenu > ul > li > a{font-size:20px;font-family:NanumSquare;font-weight:bold;color:#2b4788;padding:7px 10px;text-decoration:none;}
.gnbsubMenu > ul > li:hover > a,
.gnbsubMenu > ul > li > a:focus,
.gnbsubMenu > ul > li > a:active,
.gnbsubMenu > ul > li.active > a{color:#FFFFFF;background-color:#50d3fb;}
.gnbsubMenu > ul > li > a br{display:none;}
.gnbMenu .subMenu{display: none;background: #fff;position: absolute;top:50px;left: 0;width: 170px;height: 187px;padding: 15px 7px 0 10px;overflow: hidden;z-index: 1;}
.gnbMenu .subMenu dt{display: none;padding: 0 0 10px 5px;margin-bottom:15px;border-bottom: 2px solid #525151;}
.gnbMenu .subMenu dd{margin-bottom: 7px;}
.gnbMenu .subMenu dd a{color: #333;font-weight: bold;font-size: 13px;}
.gnbMenu .submu{display:none;position:absolute;left:0;top:76px;width:100%;background:none;}
.gnbMenu .active .submu{display:block;}
.submu{height:44px;background-color:#073190;overflow:hidden;}
.submu > ul{overflow:hidden;}
.submu > ul > li{float:left;display:inline-block;margin-top:10px;text-align:center;padding:0 15px;}
.submu > ul > li > a{color:#FFFFFF;font-size:16px;padding:0 5px;}
.submu > ul > li > a:hover,
.submu > ul > li > a:focus,
.submu > ul > li > a:active,
.submu > ul > li.active > a{color:#fee86c;text-decoration:none;}
.submu .sm01{margin-left:30px;}
.submu .sm01 li{padding:0 12px;}
.submu .sm02{margin-left:60px;}
.submu .sm03{margin-left:80px;}
.submu .sm04{margin-left:80px;}
.submu .sm05{margin-left:490px;}
.submu .sm06{margin-left:520px;}
.submu .sm07{margin-left:120px;}
.submu .sm08{margin-left:360px;}
.submu .sm05 li,
.submu .sm06 li{padding:0 20px;}
.gnb_in{position:relative;width:1050px;margin:0 auto;background:#fff;}
.gnb_in:after{content:'';display:block;clear:both;}
.gnbMenu_bg{display:block;position:absolute;left:0;right:0;top:76px;height:44px;background:#073190;transition:background .3s ease}/*height:280px;*/

.gnbMenu.focus .gnbLogo{display:none;}
.gnbMenu.focus .gnbsubMenu{width:100%;}
.gnbMenu.focus .gnbsubMenu > ul > li{position:relative;width:128px;text-align:center;}
.gnbMenu.focus .gnbsubMenu > ul > li > a{font-size:22px;padding:7px;}
.gnbMenu.focus .gnbsubMenu > ul > li > a br{display:inherit;}
.gnbMenu.focus .gnbsubMenu > ul > li:hover .submu > ul{background:#fafafa;}
.gnbMenu.focus .submu{height:auto;bottom:auto;top:57px;}
.gnbMenu.focus .submu > ul{margin-left:0 !important;height:300px;border-right:1px solid #eee;}
.gnbMenu.focus .submu .sm01{border-left:1px solid #eee;}
.gnbMenu.focus .submu > ul > li{display:block;float:none;padding:0 !important;}
.gnbMenu.focus .submu > ul > li > a{display:block;font-size:16px;line-height:1.2;padding:3px 5px;color:#666;}
.gnbMenu.focus .submu > ul > li > a:hover,
.gnbMenu.focus .submu > ul > li > a:focus,
.gnbMenu.focus .submu > ul > li > a:active,
.gnbMenu.focus .submu > ul > li.active > a{color:#073190;font-weight:bold;}
.gnbMenu.focus .gnbMenu_bg{background:#fff;border:1px solid #eee;border-width:1px 0;;}

#gnb.fixed{z-index:100;height:153px;}
.fixed .gnbMenu{position:fixed;top:0;left:0;width:100%;height:58px !important;background:#fff;}
.fixed .gnbMenu.sub{height:100px;;}
.fixed .gnbMenu_bg{top:58px;}
.fixed .gnbMenu .submu{top:58px;}
.fixed .gnbMenu.focus .submu{top:39px;}

.gnbMenu ul{margin-left:10px;}
.gnbMenu li.engMenu{margin:0 10px;}
/* e: 2016-10-06 */

#header{position:relative;width:100%;}
#visual{position:relative;width:100%;}
.mnVisual{margin-top:5px;}
.mnVisual_Area{position:relative;width:1050px;margin:0 auto;}

#dtContents{position:relative;width:1150px;margin:0 auto;}
.firstLine{margin-top:15px;}
.firstLine > ul > li{}
.secondLine{clear:both;padding-top:15px;}
.secondLine > ul > li{}

.firstLine li{float:left;margin-right:17px;}
.firstLine li.last{margin-right:0px;}

.secondLine li{float:left;margin-right:12px;}
.secondLine li.last{margin-right:0px;}

/* Main Banner */
#container{clear:both;position:relative;width:100%;}
#mnBanner{position:relative;width:1050px;margin:0 auto;padding:30px 0;}
#mnBanner > ul > li{position: relative;z-index: 100;float: left;}
.mnBanner01{background-color:#c5bd50;width:318px;height:174px;}
.mnBanner02{background-color:#4fc3c3;width:318px;height:174px;}
.mnBanner03{background-color:#e39291;width:318px;height:174px;}

.padhor12{margin:0 16px;}

#mnShortcut{position:relative;width:100%;margin:28px 0;}
.mnShortcutBox{position:relative;width:1050px;margin:0 auto;}

#mnBoard{position:relative;width:100%;margin:18px 0;}
#mnBoard ul{position:relative;width:1050px;margin:0 auto;}


.subMenuBox{display: none;position: absolute;top: 50px;left: 50%;height: 233px;width: 1032px;min-width: 1032px;margin-left: -516px;overflow: hidden;background: url('/images/gnb/bg_gnb_shadow3.png') 0 50% repeat-x;}

#contents{position:relative;width:100%;}
.main_con{width:1050px;margin:0 auto;padding-top:0px;/* height:100%;*/ height:190px; margin-bottom:25px;}
.sub_con{overflow:hidden;margin-top:0px;}
.sub_con.cu_con{overflow:hidden;margin-top:0 !important;}
#contents.noSubm{margin-top:-56px !important;}

#footer{clear:both;position:relative;width:100%;min-width:1050px;height:120px;padding-top:0px;margin:30px 0;background: url('../img/common/footer_bg.png') 0 0 repeat-x;}
.footer_inner{width:1050px;margin:0 auto;}
.foot_inner{width:1050px;margin:0 auto;}

#botEntireMenu{position:relative;width:100%;}
#botEntireMenuAll{background-color:#d2d7e2;height:460px;margin-bottom:25px;}
.botEntireMenubtn{width:1050px;margin:0 auto;text-align:center;}
.botEntireMenubtn a{cursor:pointer;}
.botEntireMenuBOX{width:1050px;margin:0 auto;}
.botEntireMenuBOX > ul > li{position: relative;z-index: 200;float: left;width:198px;}
.full_SitemapMenu dt{background: url(/renewal2/common/img/common/bulsitemap_img022.gif) 0 55px no-repeat; padding: 20px 0 35px 0; font-size: 20px; color: #424957; height: 30px;}
.full_SitemapMenu dd{background: url(/renewal2/common/img/common/bulsitemap_img011.gif) 0 10px no-repeat; padding: 4px 0 4px 10px; font-size: 13px; color: #424957; border-top: 1px dotted #a2a8b3; width: 170px;}
.full_SitemapMenu dd.end{border-bottom: 1px dotted #a2a8b3;}
.full_SitemapMenu dd.submu{background: url() 10px 10px no-repeat; padding: 2px 0 2px 20px;}



#botFooter{margin-bottom:25px;}
.botFooterBox{}
.botFooterMenu{ height:55px;border-top:1px solid #d9d9d9;border-bottom:1px solid #d9d9d9;}
.botFooterMenuInner{width:1050px;margin:0 auto;}
.botFooterMenuInner span{float:right;padding:15px 18px 10px;}
.botFooterMenuInner span.botFooterMenulist{float:left;width:500px;}
.botFooterMulist:link, .botFooterMulist:visited, .botFooterMulist:hover{font-size:16px;font-family:NanumSquare;font-weight:bold;color:#2b4788;}
..botFooterMenuInner span.botFooterMenu{font-size:14px;color:#ca7b2e;}
.botFooterMuQa:link, .botFooterMuQa:visited, .botFooterMuQa:hover{font-size:14px;color:#ca7b2e;}


.botFooterCopy{width:1050px;margin:0 auto;height:125px;}
.botFooterCopy span{float:left;padding:10px 15px;}
.botFooterCopy span img{padding-top:20px;}
.botFooterCopy span.botFooterCopyDetail{font-size:13px;font-family:NanumSquare;line-height:18px;padding-top:25px;}

/* SubPage Layout */
#subTitlebar{position:relative;width:100%;background-color:#ebb270;}
.subTitlebarConts{width:1050px;height:104px;margin:0 auto;}
.subTitlebarConts span{display:inline-block;}
.subTitlebarConts span.subTitleName{font-size: 26px;color: #7c5426;font-family:NanumBold;padding:32px 30px;background: url(/renewal2/common/img/common/subTitle_Bgicon01.gif) 150px 25px no-repeat;width:150px;}
.subTitlebarConts span.subTitleDetail{font-size: 13px;line-height:18px; color: #7c5426;padding:30px 0px;}


#subLocation{position:relative;width:100%;background-color:#e2e2e2;}
.subLocationConts{width:1050px;height:50px;margin:0 auto;}
.subLocationConts span{display:inline-block;}
.subLocationConts span.subLocationInner{font-size:12px;background: url(/renewal2/common/img/common/subLocation_Bgicon01.gif) 10px 15px no-repeat;padding-left:30px;padding-top:12px;}
.subLocationConts span.SocialLink{float:right;padding:10px;}
.subLocationConts span.SocialLink img{padding-right:3px;}

#subMenu{position:relative;width:100%;margin-top:23px;}

.subMenuTabs{width:1050px;margin:0 auto;}
.subMenuTabs ul li{float:left;padding:0 4px 0 0;height:60px;}
.subMenuTabs ul li a.tableft{display:inline-block;width:137px;margin:0 auto;text-align:center;height:44px;background-color:#d7d7d7;font-size:14px;line-height:43px;}
.subMenuTabs ul li a.tableft .tabright{display:inline-block;width:137px;padding:0;height:44px;}
.subMenuTabs ul li.on{float:left;background: url(/renewal2/common/img/common/subMenuTabs_on.gif) 57px 44px no-repeat;padding-top:0px;}
.subMenuTabs ul li.on a.tableft, .subMenuTabs ul li a.tableft:hover{display:inline-block;width:137px;text-align:center;background-color:#e49763;color:#FFFFFF;font-size:17px;font-family:NanumBold;line-height:45px;}
.subMenuTabs ul li.on a.tableft .tabright, .subMenuTabs ul li a.tableft:hover  .tabright{display:inline-block;width:137px;padding:0;}

.subMenuTabs2{width:1050px;margin:0 auto;}
.subMenuTabs2 ul li{float:left;padding:0 4px 0 0;height:60px;}
.subMenuTabs2 ul li a.tableft{display:inline-block;width:490px;margin:0 auto;text-align:center;height:44px;background-color:#d7d7d7;font-size:14px;line-height:43px;}
.subMenuTabs2 ul li a.tableft .tabright{display:inline-block;width:490px;padding:0;height:44px;}
.subMenuTabs2 ul li.on{float:left;background: url(/renewal2/common/img/common/subMenuTabs_on.gif) 227px 44px no-repeat;padding-top:0px;}
.subMenuTabs2 ul li.on a.tableft, .subMenuTabs2 ul li a.tableft:hover{display:inline-block;width:490px;text-align:center;background-color:#e49763;color:#FFFFFF;font-size:17px;font-family:NanumBold;line-height:45px;}
.subMenuTabs2 ul li.on a.tableft .tabright, .subMenuTabs2 ul li a.tableft:hover  .tabright{display:inline-block;width:490px;padding:0;}


.subMenuTabs3{width:1050px;margin:0 auto;}
.subMenuTabs3 ul li{float:left;padding:0 4px 0 0;height:60px;}
.subMenuTabs3 ul li a.tableft{display:inline-block;width:326px;margin:0 auto;text-align:center;height:44px;background-color:#d7d7d7;font-size:14px;line-height:43px;}
.subMenuTabs3 ul li a.tableft .tabright{display:inline-block;padding:0;height:44px;}
.subMenuTabs3 ul li.on{float:left;background: url(/renewal2/common/img/common/subMenuTabs_on.gif) 153px 44px no-repeat;padding-top:0px;}
.subMenuTabs3 ul li.on a.tableft, .subMenuTabs3 ul li a.tableft:hover{display:inline-block;width:326px;text-align:center;background-color:#e49763;color:#FFFFFF;font-size:17px;font-family:NanumBold;line-height:45px;}
.subMenuTabs3 ul li.on a.tableft .tabright, .subMenuTabs3 ul li a.tableft:hover  .tabright{display:inline-block;width:326px;padding:0;}

.subMenuTabs4{width:1050px;margin:0 auto;}
.subMenuTabs4 ul li{float:left;padding:0 4px 0 0;height:60px;}
.subMenuTabs4 ul li a.tableft{display:inline-block;width:243px;margin:0 auto;text-align:center;height:44px;background-color:#d7d7d7;font-size:14px;line-height:43px;}
.subMenuTabs4 ul li a.tableft .tabright{display:inline-block;padding:0;height:44px;}
.subMenuTabs4 ul li.on{float:left;background: url(/renewal2/common/img/common/subMenuTabs_on.gif) 113px 44px no-repeat;padding-top:0px;}
.subMenuTabs4 ul li.on a.tableft, .subMenuTabs4 ul li a.tableft:hover{display:inline-block;width:243px;text-align:center;background-color:#e49763;color:#FFFFFF;font-size:17px;font-family:NanumBold;line-height:45px;}
.subMenuTabs4 ul li.on a.tableft .tabright, .subMenuTabs4 ul li a.tableft:hover  .tabright{display:inline-block;width:243px;padding:0;}


.subMenuTabs5{width:1050px;margin:0 auto;}
.subMenuTabs5 ul li{float:left;padding:0 4px 0 0;height:60px;}
.subMenuTabs5 ul li a.tableft{display:inline-block;width:194px;margin:0 auto;text-align:center;height:44px;background-color:#d7d7d7;font-size:14px;line-height:43px;}
.subMenuTabs5 ul li a.tableft .tabright{display:inline-block;padding:0;height:44px;}
.subMenuTabs5 ul li.on{float:left;background: url(/renewal2/common/img/common/subMenuTabs_on.gif) 82px 44px no-repeat;padding-top:0px;}
.subMenuTabs5 ul li.on a.tableft, .subMenuTabs5 ul li a.tableft:hover{display:inline-block;width:194px;text-align:center;background-color:#e49763;color:#FFFFFF;font-size:17px;font-family:NanumBold;line-height:45px;}
.subMenuTabs5 ul li.on a.tableft .tabright, .subMenuTabs5 ul li a.tableft:hover  .tabright{display:inline-block;width:194px;padding:0;}

.subMenuTabs6{width:1050px;margin:0 auto;}
.subMenuTabs6 ul li{float:left;padding:0 4px 0 0;height:60px;}
.subMenuTabs6 ul li a.tableft{display:inline-block;width:161px;margin:0 auto;text-align:center;height:44px;background-color:#d7d7d7;font-size:14px;line-height:43px;}
.subMenuTabs6 ul li a.tableft .tabright{display:inline-block;padding:0;height:44px;}
.subMenuTabs6 ul li.on{float:left;background: url(/renewal2/common/img/common/subMenuTabs_on.gif) 67px 44px no-repeat;padding-top:0px;}
.subMenuTabs6 ul li.on a.tableft, .subMenuTabs6 ul li a.tableft:hover{display:inline-block;width:161px;text-align:center;background-color:#e49763;color:#FFFFFF;font-size:17px;font-family:NanumBold;line-height:45px;}
.subMenuTabs6 ul li.on a.tableft .tabright, .subMenuTabs6 ul li a.tableft:hover  .tabright{display:inline-block;width:161px;padding:0;}
