body {
	font-family:돋움, "맑은 고딕";
	background-image: url(../image/bg.jpg);
	background-repeat:repeat-x;
}

h1 {
	color:red;
	font-size:2em;
	margin: 0;
	border-bottom:2px dashed black;
}
p {
	color:#036;
	font-size:.9em;
	line-height:150%;
	margin-top:0;
	margin-left: 25px;
}
h2 {
	color: #FFC;
	margin-bottom: 0;
	padding: 5px 0px 3px 25px;
	background-color:#999;
}
