@charset "utf-8";

.data span.grp1{width:200px;}
.data span.grp2{width:170px;}
.data span.grp3{width:150px;}
.data span.grp4{width:110px;}
.data span.grp5{width:90px;}
.data span.grp6{width:60px;}
.data span.grp7{width:40px;}
.data span.grp8{width:200px;}
.data span.grp9{width:120px;}
.data span.grp10{width:110px;}
.data span.grp11{width:90px;}
.data span.grp12{width:80px;}
.data span.grp13{width:30px;}
.data span.grp14{width:20px;}
.data span.grp15{width:130px;}
.data span.grp16{width:120px;}
.data span.grp17{width:84px;}
.data span.grp18{width:80px;}
.data span.grp19{width:46px;}
.data span.grp20{width:30px;}
.data span.grp21{width:8px;}