@charset "utf-8";
/*
@font-face {
	font-family:'NGNormal';
	font-style:normal;
	font-weight:400;
	src:url('/font/NanumGothic.eot');
	src:local(※), url('../font/NanumGothic.eot') format('embedded-opentype'), url('../font/NanumGothic.woff') format('woff');
}
@font-face {
	font-family:'NGBold';
	font-style:normal;
	font-weight:700;
	src:url('/font/NanumGothicBold.eot');
	src:local(※), url('../font/NanumGothicBold.eot') format('embedded-opentype'), url('../font/NanumGothicBold.woff') format('woff');
}
*/
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* default style */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, article, aside, hgroup, header, footer, figure, figcaption, nav, section { margin:0; padding:0; border:0; font-size:100%; vertical-align:baseline; background:transparent; }
body { font:normal .75em/1.45 "나눔고딕", NanumGothic, NGNormal, "돋움", Dotum, Arial, Tahoma , Geneva, Verdana; color:#888; background-color:#464646; }
h1, h2, h3, h4, h5, h6 { font-weight:Normal; font-family:NGBold, "돋움", Dotum; } 
ol, ul { list-style:none; overflow:hidden; zoom:1; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,q:before, q:after { content:''; }
table { border-collapse:collapse; border-spacing:0; table-layout:fixed; }
th { font-weight:Normal; font-family:NGBold, "돋움", Dotum; }
button { margin:0; padding:0; border:0; font:inherit; color:inherit; background:transparent; overflow:visible; cursor:pointer; line-height:1; }
a:link, a:visited, a:hover, a,active, a:focus { text-decoration:none; color:inherit; cursor:pointer; }
legend, caption { width:0; height:0; visibility:hidden; font-size:0; line-height:0; }
textarea { resize:vertical; font:inherit; overflow-y:auto; }
input, select { color:inherit; font:inherit; }
*::-moz-focus-inner { padding:0; border:0; }