@charset "utf-8";

/*제목가리기*/
caption,legend{
	position:absolute;
	overflow:hidden;
	width:1px;
	height:1px;
	font-size:0;
	line-height:0;
	text-indent:-9999px;}

/*목록에서 첫번째 배경지우기*/
.top_menu .li_first{
	background:none;}
		
body{
	font-family:"나눔고딕","나눔고딕코딩","맑은 고딕",굴림,"굴림";
	font-size: 12px;
	width:100%}
	
.header_wrap{
	width:100%;
	background:url(../image/common/bg_header.gif) repeat-x 0 0;}
	
	#header{
		width:1100px;
		/*height:190px;*/
		position:relative;
		margin:0 auto;}
		
		/* 로고 */
		h1{
			position:absolute;
			left:466px;
			top:50px;}
		
		/* 최상단 메뉴 */
		#util{
			width:1100px;
			height:30px;}
			
			#select_lang{
				height:30px;
				float:left;}
				#bt_sec{
					float:left;
					height:30px;
					border-left:1px solid #eeeeee;}
					#bt_sec #left{
						padding:10px 10px;}
					#bt_sec #right{
						border-left:1px solid #eeeeee;
						border-right:1px solid #eeeeee;}
				#language{
					float:left;}
					#language li{
						float:left;
						height:30px;
						padding:0px 25px;
						border-right:1px solid #eeeeee;}
						#language li a img{
							padding:10px 0;}
						
			.top_menu{
				width:335px;
				height:30px;
				float:right;}
				.top_menu ul{
					float:left;}
					.top_menu ul li{
						float:left;
						padding:7px 8px;					
						background:url(../image/common/bg-top_menu.gif) no-repeat 0 12px;}	
					/*.top_menu ul li a img{
						margin:12px 0px;}*/
				.top_menu .facebook{
					float:left;
					padding-top:4px;}			
				.top_menu .twitter{
					float:right;
					padding-top:4px;}
					
		
		
		/* 로고 좌측 퀵메뉴 */
		#quickmenu01{
			float:left;
			margin-top:50px;}
			#quickmenu01 table td{
				height:20px;}
		
		/* 로고 우측 메뉴 + 검색창 */
		#menu{
			float:right;
			margin-top:45px;
			width:369px;}
			#bts{
				float:right;
				margin-bottom:10px;}
				#bts li{
					float:left;
					padding-left:20px;}
			#search{
				float:right;}
				#search form #search_area{
					width:330px;
					height:26px;
					background:#fff;
					border:1px solid #eee;
					vertical-align:middle;}
				#search_btn{
					border:1px solid #eee;
					border-left:none;
					vertical-align:middle;}
					
		
				
		/* 주메뉴 */
		#gnb{
			clear:both;
			width:1100px;
			color:#fff;
			font-size:16px;
			padding-top:10px;}
			.depth1{				
				height:40px;}
				.depth1 li{					
					text-align:center;
					float:left;}
					.depth1 li a{
						display:block;
						height:40px
						font-size:16px;
						padding:11px 0 12px;
						}
						#gnb .depth1 #gnb1{
							width:366px;					
							background-color:#e72e35;}
						#gnb .depth1 #gnb2{
							width:368px;
							background-color:#fcaf17;}
						#gnb .depth1 #gnb3{
							width:366px;
							background-color:#333333;}

		/*서브메뉴*/
			/*.depth2{
				width:100%;
				position:relative;}*/
				#sub_menu01, #sub_menu02, #sub_menu03{
					/*position:absolute;
					left:0;
					top:0;*/
					width:100%;
					height:55px;
					/*overflow:hidden;*/
					display:none;
					}
					
				#sub_menu01{background-color:#e72e35;}
				
				#sub_menu02{background-color:#fcaf17;}
				
				#sub_menu03{background-color:#333333;}
				
					.depth2 span{
						float:left;
						font-size:30px;
						padding:10px 23px 5px 30px;
						}
					
					.depth2 ul{
						float:left;}
						
					.depth2 .sub_list02{
						float:right;
						padding-right:25px;}
					
						.depth2 ul li{
							float:left;
							padding:18px 0px 13px 20px;
							letter-spacing:-2px;}
		

#contents_wrap{
	width:100%;
	line-height:20px;
	color:#333333;
	background:#f7f7f7;
	
	/*min-height:495px;
	height:auto !important;
	height:495px;
	overflow:hidden;*/}
	/*파이어폭스 최신버전과 익스6버전에서 min-heigh가 서로 상이하게 적용되어 주석처리 후 페이마다 높이를 잡았음 */
	
	/* 우측 퀵메뉴 */
		#quickmenu02{
			position:absolute;
			left:1110px;
			top:0px;
			width:70px;
			border:2px solid #999;
			text-align:center;}
			
			#quickmenu02 p{
				padding:3px 0;
				color:#fff;}
				
			#quickmenu02 .quick_title{
				font-size:14px;
				background: #666;}
			
			#quickmenu02 .top{
				background: #999;}
				/*#quickmenu02 .top a{
					background: #999;}*/
			
			#quickmenu02 ul{
				padding:0px 10px;}
			
			#quickmenu02 ul li{
				font-weight:bold;
				color:#999;
				padding:8px 0;
				border-bottom:1px solid #ddd;}
			
			#quickmenu02 ul .li_end{
				border:none;}
		/* -----퀵메뉴----- */
			
	#contents{
		width:1100px;
		margin:0 auto;
		position:relative;}
	/*--------------------*/
		
		
		
		/* 서브 비쥬얼 */
		#sub_visual{
			width:1100px;
			height:80px;
			padding-bottom:45px;}
			
		/* 왼쪽 영역*/
		#sub_left_sec{
			width:743px;
			float:left;
			padding-right:19px;
			border-right:1px solid #dddddd;
			margin-bottom:70px;
			}
			
		
			
		/* 오른쪽 영역*/
		#sub_right_sec{
			width:305px;
			float:right;
			padding-left:30px;}
			
			#sub_right_sec h3{
				margin-bottom:15px;}
				
			#sub_right_sec .rightmenu li{
				margin-bottom:5px;}
				
			#sub_right_sec .rightmenu li a{
				display:block;
				width:306px;
				height:23px;
				text-indent:-9999px;
				overflow:hidden;}
			
	/*------------------------------------*/

.banner_wrap{
	clear:both;
	background:#FFF;
	border-bottom:1px solid #f7f7f7;
	width:100%;
	height:70px;}
	.banner{
		width:1100px;
		margin:0 auto;
		padding:10px 0;}
		#banner01{
			width:260px;
			float:left;}
			#banner01 ul{
				float:left;}
				#banner01 li{
					float:left;}
		#banner02{
			width:840px;
			position:relative;
			height:50px;
			overflow:hidden;
			float:left;}
			#banner02 ul{
				width:1680px;
				float:left;}
				#banner02 li{
					float:left;
					padding:0 5px;}

.footer{
	background:#FFF;
	width:100%;}
	.footer_menu{
		width:350px;
		margin:0 auto;
		padding:20px 0;}
		.footer_menu ul li{
			display:inline;
			}
	.address{
		width:638px;
		margin:0 auto;
		padding-bottom:20px;}
