@charset 'UTF-8';
/* ==========================================================================
reset
========================================================================== */
html{-webkit-touch-callout:none;-webkit-user-select:none;}
body{font:normal 13px/1.5 'notoSans',Sans-serif;color:#000;word-break:keep-all;letter-spacing:-0.05em;-webkit-text-size-adjust:none;text-size-adjust:none;-webkit-tap-highlight-color:transparent;-webkit-overflow-scrolling:touch;}
html,body,div,span,applet,object,iframe,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,b,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,audio,canvas,details,figcaption,figure,footer,header,mark,menu,meter,nav,output,progress,section,summary,time,video{margin:0;padding:0;border:0;}
legend,caption{overflow:hidden;width:0px;height:0px;font-size:0;line-height:0;text-indent:-9999px;color:transparent;}
/*h1,h2,h3,h4,h5,h6,*/th,dt{font-weight:normal;}
li{list-style:none;}
table{width:100%;border-spacing:0;border-collapse:collapse;line-height:1.2;}
/*th,td{word-wrap:break-word;word-break:break-all;}*/
iframe,textarea{width:100%;}
input,button,select,img,iframe{vertical-align:middle;}
input,textarea,select,button,optgroup{font-family:inherit;letter-spacing:inherit;}
a{text-decoration:none;color:inherit;}
a[href*='tel']{cursor:default;}
optgroup,pre{font-family:inherit;}
i,em{font-style:normal;}
hr{margin:20px 0;border:0;border-bottom:1px solid #e7e7e7;}
sub{vertical-align:0;}
/*button{outline:none;}*/

/* ==========================================================================
common
========================================================================== */
.bg-gray{background:#f5f5f5;}
.bg-gray2{background:#eaeaea;}

/* font */
.fz-11{font-size:11px !important;}
.fz-12{font-size:12px !important;}
.fz-13{font-size:13px !important;}
.fz-14{font-size:14px !important;}
.fz-15{font-size:15px !important;}
.fz-16{font-size:16px !important;}
.fz-17{font-size:17px !important;}
.fz-18{font-size:18px !important;}
.fz-20{font-size:20px !important;}
.fz-22{font-size:22px !important;}

.fc-red{color:#a81212 !important;}
.fc-black{color:#000 !important;}
.fc-gray{color:#333 !important;}
.fc-gray2{color:#555 !important;}
.fc-gray3{color:#666 !important;}
.fc-blue{color:#0764b2 !important;}
.fc-green{color:#1b8f04 !important;}
.fc-brown{color:#986a67 !important;}
.fc-orange{color:#e71b1b !important;}

/* float */
.f-right{float:right !important;}
.f-left{float:left !important;}
.clear{clear:both !important;}

/* align */
.a-center{text-align:center !important;}
.a-left{text-align:left !important;}
.a-right{text-align:right !important;}
.va-top{vertical-align:top !important;}
.va-middle{vertical-align:middle !important;}
.va-bottom{vertical-align:bottom !important;}
.bold{font-weight:bold;}
.normal{font-weight:normal;font-style:normal;}
.underline{text-decoration:underline;}
.lh-12{line-height:1.2;}

/* margin */
.mt0{margin-top:0px !important;}
.mt5{margin-top:5px !important;}
.mt8{margin-top:8px !important;}
.mt10{margin-top:10px !important;}
.mt15{margin-top:15px !important;}
.mt20{margin-top:20px !important;}
.mt25{margin-top:25px !important;}
.mt30{margin-top:30px !important;}
.mt40{margin-top:40px !important;}
.mt50{margin-top:50px !important;}

.mb0{margin-bottom:0px !important;}
.mb3{margin-bottom:3px !important;}
.mb5{margin-bottom:5px !important;}
.mb10{margin-bottom:10px !important;}
.mb15{margin-bottom:15px !important;}
.mb20{margin-bottom:20px !important;}
.mb30{margin-bottom:30px !important;}

/* padding */
.pt0{padding-top:0px !important;}
.pt5{padding-top:5px !important;}
.pt10{padding-top:10px !important;}
.pt15{padding-top:15px !important;}
.pt20{padding-top:20px !important;}
.pt30{padding-top:30px !important;}

.block{display:block;}
.inblock{display:inline-block;}
.hide{display:none;-webkit-animation:fadeIn 1s;animation:fadeIn 1s;}
.hidden{overflow:hidden;}
.sr-only{position:absolute !important;left:-9999px !important;font-size:0 !important;color:transparent !important;}
.blind,
.page-tit{position:absolute;overflow:hidden;width:0px;height:0px;font-size:0;line-height:0;text-indent:-9999px;}
.ellipsis{display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
.blur img{-webkit-filter:blur(6px);-moz-filter:blur(6px);filter:blur(6px);}
.grayscale img{filter:gray;-moz-filter:grayscale(1);-ms-filter:grayscale(100%);-o-filter:grayscale(100%);-webkit-filter:grayscale(1);}
.nowrap{white-space:nowrap;}
.need-guide,
.dummy{background:#ccc;padding:2em 0;text-align:center;font-size:1.25em;}
.console{position:fixed;font-size:1.5em;top:0;left:0;width:100%;color:#fff;text-align:center;box-sizing:border-box;background:rgba(255,0,0,0.7);z-index:100;}
.no-gutter{margin:0 -15px;}

.hr{border-bottom:1px solid #e7e7e7;margin:15px -15px;}
.ly-inner + .hr{margin-top:15px;}
.ly-inner.bg-gray + .hr,
.ly-inner.bg-gray2 + .hr{margin-top:0;}
.ly-inner.pd-type{padding:15px;}
.ly-inner.line-t{border-top:1px solid #dbdbdb;}
.ly-inner.line-b{border-bottom:1px solid #dbdbdb;}

/* ==========================================================================
layout
========================================================================== */
#content-section{min-height:100%;padding:15px 15px 80px;box-sizing:border-box;}
#content-section #content-section{min-height:0 !important;padding:0px !important;}
#content-section #content-section:after{display:none !important;}
#content-section:before{content:'';display:block;position:fixed;left:0;width:100%;top:-10px;height:10px;-webkit-transition:box-shadow 0.5s;transition:box-shadow 0.5s;z-index:5;}
.ios .inputFocus #content-section:before{position:absolute;display:none;}
.ios12 .inputFocus #content-section{padding-bottom:380px;}
#content-section.shadow:before{box-shadow:0 0 10px rgba(0,0,0,0.2);}
.iPhoneX #content-section{padding-bottom:calc(constant(safe-area-inset-bottom) + 80px);padding-bottom:calc(env(safe-area-inset-bottom) + 80px);}
.ly-inner{padding:10px 15px;margin-top:20px;}
.page-tit + .ly-inner{margin-top:-15px;}
.btn-wrap + .ly-inner{margin-top:40px;padding-top:30px;padding-bottom:30px;}
.tabmenu-01 + .ly-inner,
.tit-wrap + .ly-inner,
.list-txt-01 + .ly-inner{margin-top:0;}
.ly-inner.toggle-cont{margin-top:15px;padding-top:20px;padding-bottom:20px;}
.list-txt-01.type2 + .ly-inner.toggle-cont{margin-top:0px;padding-top:8px;}
#content-section .ly-inner,
.layer-cont .ly-inner{margin-left:-15px;margin-right:-15px;}

/* ==========================================================================
component
========================================================================== */
/* 말줄임 */
[class*='text-line-']{display:block;display:-webkit-box;overflow:hidden;word-wrap:break-word;-webkit-box-orient:vertical;text-overflow:ellipsis;}
.text-line-1{display:block;white-space:nowrap;}
.text-line-2{-webkit-line-clamp:2;}
.text-line-3{-webkit-line-clamp:3;}
.text-line-4{-webkit-line-clamp:4;}
.text-line-5{-webkit-line-clamp:4;}

/* title */
[class*='tit-h']{position:relative;margin:15px 0 7px;}
.tit-h1{font-size:20px;}
.tit-h2{font-size:18px;}
h2, .tit-h3{font-size:17px;margin-top:24px;}
h3, .tit-h4{font-size:15px;}
.tit-h5{font-size:14px;}
[class*='tit-h']:first-child,
.page-tit + [class*='tit-h']{margin-top:0;}
/* [class*='tit-h']:before{content:'';display:block;clear:both;} */
[class*='tit-h'] + .btn-wrap,
[class*='tit-h'] + [class*='tit-h']{margin-top:5px;}
[class*='tit-h'] + .memo-text{margin-top:-4px;}
.hr + [class*='tit-h']{margin-top:1px;}
.txt-center-01 + [class*='tit-h']{margin-top:0;}
.toggle-cont + .tit-h3{margin-top:34px;}
.input-tit{font-size:16px;color:#916744;font-weight:400;margin:20px 0 10px 0;display:block;}

.tit-wrap{position:relative;margin:15px 0 7px;}
.tit-wrap:first-child{margin-top:0;}
.tit-wrap:after{content:'';display:block;clear:both;}
.tit-wrap [class*='tit-h']{margin:0;display:inline-block;vertical-align:top;}
.tit-wrap.in-btn [class*='tit-h']{line-height:30px;}
.tit-wrap.in-tip [class*='tit-h']{line-height:25px;}
.tit-wrap.in-tip .btn-tip{float:right;}
.tit-wrap.toggle{margin-left:-15px;margin-right:-15px;padding:0 15px;}
.tit-wrap.toggle [class*='tit-h']{padding-right:25px;}
.tit-wrap.toggle .memo-text{margin-top:3px;}
.tit-wrap .right-text{float:right;color:#555555;}
.tit-wrap .tit-h3 + .right-text{margin-top:5px;}
.tit-wrap .tit-h4 + .right-text{margin-top:3px;}
.hr + .tit-wrap{margin-top:0;}

/* scroll-navi */
.swiper-navi{margin:0 -15px;border-bottom:3px solid #e0e0e0;position:relative;overflow:hidden;}
.swiper-navi:after{border-bottom:1px solid #b3b3b3;position:absolute;left:0;bottom:0;display:block;content:'';width:100%;}
.swiper-navi li{position:relative;float:left;display:block;width:auto;height:50px;line-height:50px;text-align:center;}
.swiper-navi li a{display:block;position:relative;padding:0 10px;font-size:14px;color:#555;}
.swiper-navi li a:after{content:'';position:absolute;left:0;top:50%;margin-top:-5px;height:10px;width:1px;background:#b2b2b2;}
.swiper-navi li:first-child a:after{display:none;}
.swiper-navi li.active a{color:#333;font-weight:bold;}
.swiper-navi li.active:before{content:'';display:block;width:100%;position:absolute;bottom:0;left:0;border-bottom:2px solid #ea1506;}
.swiper-navi .swiper-wrapper{z-index:inherit;margin:0 !important;}
.swiper-navi.in-navi{padding:0 25px;}
.swiper-navi .swiper-button-next,
.swiper-navi .swiper-button-prev{top:0;height:auto;width:25px;bottom:1px;margin-top:0;padding:0;border:0 none;font-size:0;color:transparent;background-size:50%;opacity:1;background-color:#fff;z-index:1;box-shadow:0 1px 5px rgba(0,0,0,0.2);}
.swiper-navi .swiper-button-prev{left:0;}
.swiper-navi .swiper-button-next{right:0;}
.swiper-navi .swiper-button-next.swiper-button-disabled,
.swiper-navi .swiper-button-prev.swiper-button-disabled{opacity:1;box-shadow:none;filter:gray;-moz-filter:grayscale(1);-ms-filter:grayscale(100%);-o-filter:grayscale(100%);-webkit-filter:grayscale(1);}

/* scroll-wrap */
.scroll-wrap{margin-top:10px;}
.scroll-wrap > div{margin-left:-15px;margin-right:-15px;overflow-x:auto;overflow-y:hidden;white-space:nowrap;}
.scroll-wrap > div > div{display:inline;}
.scroll-wrap > div > span:first-child,
.scroll-wrap > div > div:first-child{margin-left:15px;}
.scroll-wrap > div > span:last-child,
.scroll-wrap > div > div:last-child{margin-right:15px;}

/* section */
.sec-wrap{border-bottom:1px solid #e7e7e7;margin:0 -15px;padding:15px 15px 10px;overflow:hidden;}
.sec-wrap.type2{padding-bottom:25px;}
.sec-wrap.last{border-bottom:0 none;}
.sec-wrap.bdt{border-top:1px solid #e7e7e7;}
.sec-wrap .toggle-cont:last-child{margin-bottom:-10px;}
.sec-wrap.type2 .toggle-cont:last-child{margin-bottom:-25px;}
.page-tit + .sec-wrap,
.hr + .sec-wrap{padding-top:0;}
.layer-cont > .sec-wrap:first-child{margin-top:-25px;}
.toggle-cont{display:none;}
.toggle-cont.open{display:block;}
.btn-wrap + .toggle-cont{margin-top:30px;}
.toggle-cont > .hr{border-bottom-width:2px;}
/*
* @button
* -------------------------------------
*/
.btn{position:relative;display:inline-block;width:auto;border:1px solid #d6d6d6;color:#333;background:#fff;text-align:center;vertical-align:middle;box-sizing:border-box;cursor:pointer;border-radius:0px;-webkit-appearance:none;padding:0 15px;height:40px;line-height:38px;font-size:16px;white-space:nowrap;overflow:hidden;}
.btn.disabled,
.btn:disabled{background:#bbb !important;border-color:#bbb !important;color:#fff !important;cursor:default;}
.btn.disabled:before,
.btn:disabled:before{display:none !important;}
.btn.round{border-radius:30px;}
.btn > .in{position:relative;top:50%;display:block;font-size:0.875em;line-height:1.2;-webkit-transform:translateY(-50%);transform:translateY(-50%);}

.btn.on{color:#986a57;border-color:#986a57;}
.btn.red{color:#fff;border-color:#8f1111;background:#8f1111;}
.btn.brown{color:#fff;border-color:#503e34;background:#503e34;}
.btn.gray{color:#fff;border-color:#767676;background:#767676;}
.btn.gray.on,
.btn.gray2{color:#fff;border-color:#5f616b;background:#5f616b;}
.btn.gray3{color:#fff;border-color:#647587;background:#647587;}
.btn.line-gold{color:#ab7545;border-color:#ab7545}

.btn.large{font-size:18px;height:50px;line-height:48px;padding:0px 20px;font-weight:bold;}
.btn.small{font-size:13px;height:30px;line-height:28px;padding:0px 10px;font-weight:normal;}
.btn.xsmall{font-size:10px;height:20px;line-height:18px;padding:0px 7px;font-weight:normal;}

.btn-click-in{display:block;position:absolute;background:rgba(0,0,0,0.2);border-radius:100%;-webkit-transform:scale(0);transform:scale(0);}
.btn-click-in.animate{-webkit-animation:btnClickEf 0.65s linear;animation:btnClickEf 0.65s linear;}
@-webkit-keyframes btnClickEf{
	0%{-webkit-transform:scale(0);transform:scale(0);opacity:1;}
	100%{-webkit-transform:scale(2.5);transform:scale(2.5);opacity:0;}
}
@keyframes btnClickEf{
	0%{-webkit-transform:scale(0);transform:scale(0);opacity:1;}
	100%{-webkit-transform:scale(2.5);transform:scale(2.5);opacity:0;}
}

[class*='ico-btn-']{position:relative;display:inline-block;vertical-align:middle;background-repeat:no-repeat;background-position:center center;background-size:contain;font-size:0;color:transparent;-webkit-transition:-webkit-transform 0.3s;transition:transform 0.3s;}
.ico-btn-arr-down{width:15px;height:9px;margin-left:5px;top:-2px;background-image:url(../../../img/wms/app/ico/ico_btn_arr_down.png);}
.btn.on > .ico-btn-arr-down{-webkit-transform:rotate(180deg);transform:rotate(180deg);}
.btn.chk:before,
.ico-btn-chk{width:0;height:11px;margin-right:0;top:-1px;background-image:url(../../../img/wms/app/ico/ico_btn_chk.png);background-size:100% 100%;-webkit-transition:all 0.5s;transition:all 0.5s;}
.btn.on > .ico-btn-chk{width:15px;margin-right:5px;}
.btn.chk:before{content:'';position:relative;display:inline-block;width:15px;margin-right:5px;vertical-align:middle;background-repeat:no-repeat;background-position:center center;}
.btn.line-gold > .ico-btn-chk,
.btn.line-gold.chk:before{background-image:url(../../../img/wms/app/ico/ico_btn_chk_2.png);}

.btn-toggle-01{display:block;position:absolute;top:0;left:0;width:100%;height:100%;min-height:25px;padding:0;border:0 none;background:none;font-size:0;color:transparent;overflow:hidden;}
.btn-toggle-01:after{content:'';display:block;width:25px;height:25px;position:absolute;right:15px;top:0px;background:url(../../../img/wms/app/ico/ico_toggle.png) no-repeat;background-size:100%;transition:0.3s;}
.btn-toggle-01.center:after{top:50%;margin-top:-12.5px;}
.btn-toggle-01.on:after{-webkit-transform:rotate(180deg);transform:rotate(180deg);}

.btn-link-01{position:absolute;display:block;top:0;right:0;bottom:0;left:0;font-size:0;color:transparent;overflow:hidden;}
.btn-link-01:after{content:'';display:block;width:25px;height:25px;position:absolute;right:15px;top:11px;background:url(../../../img/wms/app/ico/ico_link.png) no-repeat center center;background-size:100%;}

.btn-link-02{position:relative;display:inline-block;padding-right:25px;line-height:20px;}
.btn-link-02:after{content:'';display:block;width:20px;height:20px;position:absolute;right:0;top:0;background:url(../../../img/wms/app/ico/ico_link.png) no-repeat center center;background-size:100%;}

/* button wrap */
.btn-wrap{text-align:center;margin-top:30px;margin-left:-3px;margin-right:-3px;font-size:0;
	display:-webkit-box;display:-webkit-flex;display:flex;
	-webkit-box-orient:horizontal;-webkit-flex-direction:row;flex-direction:row;
	-webkit-box-pack:center;-webkit-justify-content:center;justify-content:center;}
.btn-wrap.a-left{-webkit-box-pack:left;-webkit-justify-content:flex-start;justify-content:flex-start;}
.btn-wrap.a-right{-webkit-box-pack:right;-webkit-justify-content:flex-end;justify-content:flex-end;}
.btn-wrap > span{display:block;padding:0 3px;-webkit-box-flex:1;-webkit-flex:1 100%;flex:1 100%;}
.btn-wrap > span.wid2{-webkit-box-flex:2;-webkit-flex:1 200%;flex:1 200%;}
.btn-wrap > span > .btn{display:block;width:100%;padding:0;}
.btn-wrap > span > .radio,
.btn-wrap > span > .checkbox{top:50%;transform:translateY(-50%);}
.btn-wrap > .btn{min-width:100px;}
.btn-wrap > .btn + .btn{margin-left:6px;}
.btn-wrap.fixed{position:fixed;bottom:0;width:100%;left:0;margin:0;z-index:5;background:#fff;;}
.iPhoneX .btn-wrap.fixed{padding-bottom:calc(constant(safe-area-inset-bottom) + 3px);padding-bottom:calc(env(safe-area-inset-bottom) + 3px);}
.inputFocus{position:relative;}
.inputFocus .btn-wrap.fixed{position:absolute;}
.ios12 .inputFocus .btn-wrap.fixed{display:none;}
.btn-wrap.fixed > span{padding:0;}
.btn-wrap + .btn-wrap,
[class*='input-'] + .btn-wrap,
.data-text + .btn-wrap,
.alert-txt + .btn-wrap{margin-top:10px;}
.flex-text + .btn-wrap{margin-top:0;}
.list-data-01 + .btn-wrap{margin-top:15px;}
.btn-wrap + p{margin-top:25px;}

.toggle-btn{font-size:0;}
.toggle-btn > .btn{font-weight:normal;font-size:13px;padding:0 5px;}
.toggle-btn > .btn + .btn{margin-left:-1px;}
.toggle-btn > .btn.on{z-index:1;font-weight:bold;}

.btn-box{margin-top:25px;margin-right:-1px;padding:1px 0 0 1px;}
.btn-box li{float:left;width:50%;text-align:center;}
.btn-box li .btn{display:block;margin:-1px 0 0 -1px;}
.btn-box li .btn.active{background:#8f1111;color:#fff;border:1px solid #ea1507;}
.btn-box:after{content:'';display:block;clear:both;}

/*
* @ icon
* -------------------------------------
*/
.ico-text{position:relative;display:inline-block;padding:0px 7px;font-size:12px;line-height:18px;color:#555;border:1px solid #555;white-space:nowrap;}
.ico-text.small{font-size:10px;line-height:14px;padding:0px 5px;}
.ico-text.round{padding:1px 11px;border-radius:15px;}
.ico-text.round.small{padding:1px 5px;}

.ico-text.flash > span{position:relative;color:inherit;z-index:1;-webkit-animation:icoflashTxt 3s infinite;animation:icoflashTxt 3s infinite;}
.ico-text.flash:before{content:'';display:block;position:absolute;top:0;left:0;right:0;bottom:0;opacity:0;background:#555;-webkit-animation:icoflash 3s infinite;animation:icoflash 3s infinite;}
@-webkit-keyframes icoflashTxt{
	from,to{color:inherit;}
	50%{color:#fff;}
}
@keyframes icoflashTxt{
	from,to{color:inherit;}
	50%{color:#fff;}
}
@-webkit-keyframes icoflash{
	from,to{opacity:0;}
	50%{opacity:1;}
}
@keyframes icoflash{
	from,to{opacity:0;}
	50%{opacity:1;}
}
.ico-text.red,
.ico-text.color-01{color:#c62e2e;border-color:#c62e2e;}/*매우높은위험*/
.ico-text.red.flash:before,
.ico-text.color-01.flash:before{background:#c62e2e;}
.ico-text.orange,
.ico-text.color-02{color:#c1542a;border-color:#c1542a;}/*높은위험*/
.ico-text.orange.flash:before,
.ico-text.color-02.flash:before{background:#c1542a;}
.ico-text.brown,
.ico-text.color-03{color:#99663d;border-color:#99663d;}/*다소높은위험*/
.ico-text.brown.flash:before,
.ico-text.color-03.flash:before{background:#99663d;}
.ico-text.green,
.ico-text.color-04{color:#1a8904;border-color:#1a8904;}/*보통위험*/
.ico-text.green.flash:before,
.ico-text.color-04.flash:before{background:#1a8904}
.ico-text.blue-green,
.ico-text.color-05{color:#1d7c73;border-color:#1d7c73;}/*낮은위험*/
.ico-text.blue-green.flash:before,
.ico-text.color-05.flash:before{background:#1d7c73;}
.ico-text.blue,
.ico-text.color-06{color:#045da8;border-color:#045da8;}/*매우낮은위험*/
.ico-text.blue.flash:before,
.ico-text.color-06.flash:before{background:#045da8;}
.ico-text.brown2{color:#986a57;border-color:#986a57;}
.ico-text.brown2.flash:before{background:#986a57;}
.ico-text.brown3{color:#fff;background:#a06837;border-color:#a06837;}
.ico-text.purple{color:#975883;border-color:#975883;}
.ico-text.purple.flash:before{background:#975883;}
.ico-text .btn-tip.type3{vertical-align:middle;margin-left:5px;top:-1px;width:11px;height:11px;}
.btn-tip{position:relative;display:inline-block;font-size:0;color:transparent;width:16px;height:16px;border:0 none;vertical-align:middle;border-radius:50%;background:#e7e7e7 url(../../../img/wms/app/ico/ico_tip.png) no-repeat center center;background-size:5px auto;}
.btn-tip.effect:before,
.btn-tip.effect:after{content:'';display:block;position:absolute;top:0px;left:0px;width:100%;height:100%;border-radius:50%;-webkit-animation:tipEf 2s linear 0s infinite;animation:tipEf 2s linear 0s infinite;-webkit-animation-fill-mode:both;animation-fill-mode:both;border:1px solid #e9a733;box-sizing:border-box;}
.btn-tip.effect:after{-webkit-animation-delay:1s;animation-delay:1s;}
@-webkit-keyframes tipEf{
	0%{left:0;top:0;width:100%;height:100%;opacity:1;}
	100%{left:-50%;top:-50%;width:200%;height:200%;opacity:0;}
}
@keyframes tipEf{
	0%{left:0;top:0;width:100%;height:100%;opacity:1;}
	100%{left:-50%;top:-50%;width:200%;height:200%;opacity:0;}
}
.btn-tip.type2{border:1px solid #555555;background-color:transparent;background-image:url(../../../img/wms/app/ico/ico_tip_2.png);}
.btn-tip.type3{width:13px;height:13px;border:1px solid #fff;background-color:transparent;background-image:url(../../../img/wms/app/ico/ico_tip_3.png);background-size:4px auto;}
.in-tip .btn-tip{float:right;}
.btn-tip-wrap{position:relative;display:inline-block;}
.tip-box{display:none;position:absolute;left:50%;top:100%;width:200px;padding:14px 29px 14px 18px;margin-left:-100px;margin-top:13px;font-size:11px;line-height:1.3;background:#fff;box-sizing:border-box;border-radius:2px;border:1px solid #a81212;color:#a81212;text-align:left;white-space:normal;z-index:5;}
.tip-box.on{display:block;-webkit-animation:bounceUp 1s;animation:bounceUp 1s;-webkit-transform-origin:center bottom;transform-origin:center bottom;}
.tip-box .arr,
.tip-box .arr:before{display:block;position:absolute;top:-8px;left:50%;margin-left:-5px;border-left:5px solid transparent;border-right:5px solid transparent;border-bottom:8px solid #a81212;}
.tip-box .arr:before{content:'';top:2px;border-bottom-color:#fff;}
.tip-box .tip-close{position:absolute;top:7px;right:7px;display:block;width:12px;height:12px;border:0 none;background:url(../../../img/wms/app/ico/ico_tip_close.png) no-repeat center center;background-size:100%;color:#fff;font-size:0;color:transparent;}


.txt-tip-wrap{padding:15px 0;text-align:center;}
.ly-inner > .txt-tip-wrap:last-child{padding-bottom:5px;}
.txt-tip{position:relative;padding-left:17px;color:#666;margin-top:10px;}
.txt-tip:first-child{margin-top:0px;}
.txt-tip.inline,
span.txt-tip{display:inline-block;word-break:break-all;}
.txt-tip:before{content:'';display:inline-block;position:absolute;top:4px;left:0;width:13px;height:13px;vertical-align:middle;background:url(../../../img/wms/app/ico/ico_txt_tip.png) no-repeat 0 0;background-size:100%;}
.txt-tip.fc-red:before{background-image:url(../../../img/wms/app/ico/ico_txt_tip_red.png);}
.txt-tip.fc-gray:before{background-image:url(../../../img/wms/app/ico/ico_txt_tip2.png);}
.txt-tip.large{padding-left:25px;font-size:16px;}
.txt-tip.large:before{width:20px;height:20px;top:3px;}
.txt-tip + .txt-tip{margin-top:5px;}
.ly-inner + .txt-tip{margin-top:30px;}
.type-chart-summary + .txt-tip,
.list-txt-02.type2 + .txt-tip{margin-top:20px;}

/*
* @ form
* -------------------------------------
*/
input,select,textarea{border:1px solid #d6d6d6;width:100%;height:40px;line-height:38px;padding:0 9px;-webkit-appearance:none;background:transparent;font-size:15px;color:#000;-webkit-border-radius:0;border-radius:0;box-sizing:border-box;background-color:#fff;/*outline:none;*/}
input:focus,select:focus,textarea:focus{border-color:#aaa;}
input[type='date'],
input[type='month']{background-image:url(../../../img/wms/app/ico/ico_cal.png);background-repeat:no-repeat;background-position:right 10px center;background-size:auto 19px;}
input.small[type='date'],
input.small[type='month']{background-position:right 5px center;background-size:auto 13px;}
input[type='file']{padding:5px;line-height:28px;}
input::-ms-clear{display:none;}
input[type='password']::-ms-reveal{display:none;}
input[type='search']::-webkit-search-decoration{-webkit-appearance:none;}
input[type='search']::-webkit-search-cancel-button{display:none;}
/*input[type='tel'],
input[type='number']{font-size:18px;font-weight:bold;}*/
select{padding:0 30px 0 10px;background:#fff url(../../../img/wms/app/ico/ico_select.png) 100% 50% no-repeat;background-size:auto 8px;}
select::-ms-expand{display:none;}
input[readonly],input[disabled],select[disabled],textarea[disabled],
input:disabled,select:disabled,textarea:disabled{background-color:#f5f5f5;color:#737373;opacity:1;-webkit-text-fill-color:#737373;}
input[type='password'][readonly]{background:#fff;color:#000;}
input.bg-none,select.bg-none,textarea.bg-none{background:none;color:#000;}
input.bg-none{border:0 none;}
textarea{font-size:13px;padding:10px;line-height:1.3;height:80px;resize:none;}
::-webkit-input-placeholder{color:#b7b7b7;}
::-moz-placeholder{color:#b7b7b7;}
::-ms-input-placeholde{color:#b7b7b7;}
:-ms-input-placeholder{color:#b7b7b7;}
.placeholder{color:#b7b7b7;}

input.small,select.small{font-size:14px;height:30px;line-height:28px;}
input.large,select.large{font-size:18px;}

[class*='input-']{position:relative;}
[class*='input-'] + [class*='input-'],
.btn-wrap + [class*='input-'],
.data-text + [class*='input-'],
.alert-txt + [class*='input-'],
.memo-text + [class*='input-']{margin-top:6px;}

.security,input[readonly].security{background:#faf9e5 !important;}
.input-box{position:relative;display:block;overflow:hidden;}
.input-box input{padding-right:35px;}
.input-box.type2 input{padding-right:55px;}
.input-box .btn-search{position:absolute;top:50%;right:0;width:35px;height:40px;-webkit-transform:translateY(-50%);transform:translateY(-50%);border:0;background:url(../../../img/wms/app/ico/ico_search.png) no-repeat center center;-webkit-background-size:19px auto;background-size:19px auto;overflow:hidden;text-indent:-9999px;padding:0;z-index:1;}
.input-del{position:absolute;top:50%;right:10px;display:block;width:20px;height:20px;margin-right:-100px;border:0;padding:0;background:url(../../../img/wms/app/ico/ico_input_del.png) no-repeat 0 0;-webkit-background-size:20px;background-size:20px;overflow:hidden;font-size:0;text-indent:-9999px;opacity:1;-webkit-transform:translateY(-50%);transform:translateY(-50%);-webkit-transition:margin 0.1s 0.5s;transition:margin 0.1s 0.5s;}
input.focus + .input-del{opacity:1;margin-right:0;-webkit-transition-delay:0s;transition-delay:0s;}
.input-box.type2 .input-del{right:35px;}

/* radio,checkbox */
[type='radio'],
[type='checkbox']{display:inline-block;width:25px;height:25px;padding:0;margin:0;border:0 none;vertical-align:middle;border-radius:50%;background-color:#fff;background-repeat:no-repeat;background-position:center center;background-size:100%;-webkit-appearance:none;appearance:none}
[type='radio']{border-radius:50%;background-image:url(../../../img/wms/app/ico/ico_radio_off.png);}
[type='radio']:checked{background-image:url(../../../img/wms/app/ico/ico_radio_on.png);}
[type='radio']:disabled{background-color:transparent;background-image:url(../../../img/wms/app/ico/ico_radio_disabled.png);}
/* [type='checkbox']{background-image:url(../../../img/wms/app/ico/ico_checkbox_off.png);} */
[type='checkbox']{background-image:url(../../../img/wms/app/ico/ico_radio_off.png);}
[type='checkbox']:checked{background-image:url(../../../img/wms/app/ico/ico_checkbox_on.png);}
[type='checkbox'].type2:checked{background-image:url(../../../img/wms/app/ico/ico_checkbox2_on.png);}
[type='checkbox']:disabled{background-color:transparent;background-image:url(../../../img/wms/app/ico/ico_checkbox_disabled.png);}
[type='checkbox'].small,
[type='radio'].small{width:20px;height:20px}
/*ie*/
[type='radio']::-ms-check,
[type='checkbox']::-ms-check{border-radius:50%;color:#fff;background:#fff;font-size:0.875em;}
[type='radio']:checked::-ms-check,
[type='checkbox']:checked::-ms-check{background:#ea1506;}
[type='radio']:disabled::-ms-check,
[type='checkbox']:disabled::-ms-check{background:#bbb;}

.radio,
.checkbox{position:relative;display:inline-block;min-width:25px;min-height:25px;vertical-align:middle;box-sizing:border-box;font-size:14px;}
.radio > input,
.checkbox > input{position:absolute;top:0;left:0;}
.radio > label,
.checkbox > label{display:inline-block;text-align:left;line-height:1.4;padding:3px 5px;vertical-align:top;}
.radio > input + label,
.checkbox > input + label{padding-left:30px;margin-right:10px;}
/*.radio > input:checked + label,
.checkbox > input:checked + label{color:#000;}*/
.radio > label + input,
.checkbox > label + input{position:static;}
.radio.small,
.checkbox.small{min-width:20px;min-height:20px;font-size:13px;}
.radio.small > label,
.checkbox.small > label{padding:1px 3px;}
.radio.small > input + label,
.checkbox.small > input + label{padding-left:26px;}
.inp-list .radio,
.inp-list .checkbox{display:block;margin-top:5px;}
.inp-list .radio:first-child,
.inp-list .checkbox:first-child{margin:0;}
.ui-all-chk .inp-list.small{padding-left:12px;}

/* switch 01*/
.switch{position:relative;display:inline-block;}
.switch > input{position:absolute;left:0;top:0;width:45px;height:100%;z-index:1;opacity:0;}
.switch > label{display:block;font-size:14px;height:25px;line-height:25px;text-align:left;white-space:nowrap;color:#555;}
.switch > label .on{display:none;color:#8f1111;}
.switch > label.none{font-size:0 !important;color:transparent !important;}
.switch > label.none:before{margin-right:0 !important;}
.switch > label:before{content:'';display:inline-block;width:45px;height:25px;margin-right:7px;background:#ccc;border-radius:13px;vertical-align:top;-webkit-box-shadow:inset 1px 1px 2px rgba(0,0,0,0.25);box-shadow:inset 1px 1px 2px rgba(0,0,0,0.25);-webkit-transition:background 0.2s;transition:background 0.2s;}
.switch > label:after{content:'';display:block;width:23px;height:23px;background:#fff;border-radius:50%;position:absolute;left:0;top:0;margin:1px;-webkit-transition:left 0.2s;transition:left 0.2s;}
.switch > input:checked + label{color:#000;}
.switch > input:checked + label:before{background:#8f1111;}
.switch > input:checked + label:after{left:20px;}
.switch > input:checked + label .off{display:none;}
.switch > input:checked + label .on{display:inline;}
/* switch .type-02*/
.switch.type-02 > input{width:40px;}
.switch.type-02 > label{height:20px;line-height:20px;font-size:13px;}
.switch.type-02 > label .on{color:#2c7914;}
.switch.type-02 > label:before{width:40px;height:20px;border-radius:10px;}
.switch.type-02 > label:after{width:20px;height:12px;border-radius:8px;margin:3px 4px;border:1px solid #aaa;-webkit-box-shadow:0px 1px 2px rgba(0,0,0,0.25);box-shadow:0px 1px 2px rgba(0,0,0,0.25);}
.switch.type-02 > input:checked + label:before{background:#67c443;}
.switch.type-02 > input:checked + label:after{left:11px;border-color:#4daa2c;}

.fake-select{display:inline-block;position:relative;padding-right:29px;min-height:22px;}
.fake-select:after{content:'';display:block;width:22px;height:22px;position:absolute;right:0;top:50%;margin-top:-11px;background:url(../../../img/wms/app/ico/ico_toggle.png) no-repeat;background-size:100%;transition:0.3s;}
.fake-select.on:after{-webkit-transform:rotate(180deg);transform:rotate(180deg);}
.fake-select select{position:absolute;left:0;top:0;width:100%;height:100%;padding:5px;font-size:14px;line-height:30px;border:0 none;background:none;opacity:0;z-index:1;}

/* width */
.input-wrap{margin-left:-5px;margin-right:-5px;}
.input-wrap:after{content:'';display:block;clear:both;}
.input-wrap > *{display:block;box-sizing:border-box;float:left;padding:0 5px;}
.input-wrap.type2{margin-left:0;margin-right:0;}
.input-wrap.type2 > *{padding:0;}
.input-wrap .btn{width:100%;padding:0;}

.line-wrap{padding:16px 0;border:1px solid #e7e7e7;border-width:1px 0;}

.length-1 > *{width:100%;float:none;}
.length-2 > *{width:50%;}
.length-3 > *{width:33.333333%;}
.length-4 > *{width:25%;}
.length-5 > *{width:20%;}
.length-6 > *{width:16.666666%;}

.input-tbl{margin-left:-3px;margin-right:-3px;}
.input-tbl > div{display:table;width:100%;table-layout:fixed;}
.input-tbl > div > *{display:table-cell;/*width:25%;*/padding:0 3px;vertical-align:top;}
.input-tbl > div > .middle{vertical-align:middle;}
.input-tbl.col-2 > div > .wid2{width:66.66%;}
.input-tbl.col-2 > div > .wid2-1{width:60%;}
.input-tbl.col-2 > div > .wid3{width:75%}
.input-tbl.col-3 > div > .wid2{width:50%;}
.input-tbl > div > * > .btn{width:100%;padding:0;}
.input-tbl > div > .chk{width:25px;padding-right:5px;vertical-align:middle;}
.input-tbl > div > .chk label{padding:0;color:transparent;font-size:0;}
.input-tbl > div > .chk2{width:85px;padding-right:5px;vertical-align:middle;}
.input-tbl .btn{font-size:14px;}
.input-tbl .checkbox > input + label,
.input-tbl .radio > input + label{margin-right:0;}

.input-flex{display:-webkit-box;display:-webkit-flex;display:flex;}
.input-flex > *{display:block;-webkit-box-flex:1;-webkit-flex:1 100%;flex:1 100%;}
.input-flex > .wid2{-webkit-box-flex:2;-webkit-flex:1 200%;flex:1 200%;}
.input-flex > .wid3{-webkit-box-flex:3;-webkit-flex:1 300%;flex:1 300%;}
.input-flex .radio > label,
.input-flex .checkbox > label{margin-right:0 !important;}

.input-toggle{display:-webkit-box;display:-webkit-flex;display:flex;margin-left:-3px;margin-right:-3px;}
.input-toggle > *{display:block;padding:0 3px;-webkit-box-flex:1;-webkit-flex:1 100%;flex:1 100%;}
.input-toggle .checkbox,
.input-toggle .radio{display:block;font-size:16px;}
.input-toggle input{left:5px;top:5px;opacity:0;}
.input-toggle input + label{position:relative;margin:0;padding:8px 5px;display:block;text-align:center;border:1px solid #d6d6d6;white-space:nowrap;font-size:14px;line-height:22px;}
.input-toggle input:checked + label{border-color:#986a57;color:#986a57;}
.input-toggle input:disabled + label{background:#fafafa;border-color:#dfdfdf;color:#dfdfdf;}
.input-toggle input[readonly] + label{background:#f1f1f1;}
.input-toggle.inline{display:block;}
.input-toggle.inline > *{display:inline-block;padding:3px;}
.input-toggle.small input + label{line-height:20px;padding:4px 10px;min-width:38px;}

.input-add-txt{position:relative;padding-right:25px !important;}
.input-add-txt.word-2{padding-right:36px !important;}
.input-add-txt.word-3{padding-right:47px !important;}
.input-add-txt.word-4{padding-right:58px !important;}
.input-add-txt.word-5{padding-right:69px !important;}
.input-add-txt input{text-align:right;}
.input-add-txt > .txt{display:block;position:absolute;right:8px;bottom:2px;}
.input-add-txt input:disabled + .txt{color:#737373;}
.input-add-txt2{position:relative;display:block;}
.input-add-txt2 input{padding-right:25px;text-align:right;}
.input-add-txt2.type2 input{border-width:0 0 1px;border-color:#000;}
.input-add-txt2.word-2 input{padding-right:35px;}
.input-add-txt2.word-3 input{padding-right:45px;}
.input-add-txt2 > .txt{display:block;position:absolute;right:10px;bottom:9px;text-align:right;font-size:12px;}
.input-add-txt2 .small + .txt{bottom:4px;}
.input-add-txt2 input[readonly] + .txt,
.input-add-txt2 input:disabled + .txt{color:#737373;}
.input-tbl .input-add-txt2 > .txt{margin-right:2px;}
.input-add-txt2.type3 input{background:#f5f5f5;border-color:#f5f5f5;color:#a81212;font-size:18px;}
.input-add-txt2.type3 .txt{color:#333333 !important;}

/*type 03*/
.input-text-03{display:table;width:100%;}
.input-text-03 > span{display:table-cell;}
.input-text-03 > span input{padding:0 10px;}
.input-text-03 > em:nth-child(2){width:10px;text-align:center;}
.input-text-03 > em{display:table-cell;vertical-align:bottom;width:20px;}
.input-text-03 > span:last-child{width:30px;text-align:right;vertical-align:middle;padding-left:7px;}
.input-text-03 > em + span{width:50px;}
.input-text-03 > span:last-child .btn{display:inline-block;white-space:nowrap;}

/* input-file */
.input-file{position:relative;display:table;width:100%;}
.input-file > span{display:table-cell;}
.input-file .btn-file{position:relative;padding-left:6px;width:30px;overflow:hidden;}
.input-file .btn-file > input{position:absolute;left:0;top:0;width:100%;height:100%;padding:0;margin:0;font-size:10em;line-height:2;cursor:pointer;opacity:0;z-index:2;}
.input-file .btn{font-size:14px;}

/* input-phone */
.input-phone{position:relative;padding-right:44px;}
.input-phone > span{position:absolute;right:0;top:0;}
.input-phone .btn.search{background:url(../../../img/wms/app/ico/ico_search.png) no-repeat center 50%;-webkit-background-size:19px;background-size:19px;overflow:hidden;text-indent:-9999px;padding:0;width:40px;}

/* input-email */
.input-email > span{float:left;position:relative;width:50%;box-sizing:border-box;}
.input-email > span:first-child{padding-right:13px;}
.input-email > span:first-child:after{content:'@';position:absolute;top:0;right:-13px;display:inline-block;width:26px;height:40px;line-height:40px;text-align:center;}
.input-email > span+span{padding-left:13px;}
.input-email > div{clear:both;padding-top:10px;}
.input-email:after{content:'';display:block;clear:both;}

/* input-btn */
.input-btn{display:table;width:100%;}
.input-btn > *{display:table-cell;vertical-align:top;}
.input-btn > * input{padding:0 10px;}
.input-btn > em:nth-child(2){width:10px;text-align:center;}
.input-btn > em{display:table-cell;vertical-align:bottom;width:20px;}
.input-btn > *:last-child{width:30px;text-align:right;padding-left:6px;}
.input-btn > em + span{width:50px;}
.input-btn > *:last-child .btn{display:inline-block;font-size:14px;/*min-width:63px;*/}

.input-date{position:relative;}
.input-date:after{content:'';display:block;clear:both;}
.input-date > div{position:relative;float:left;width:50%;box-sizing:border-box;padding:0 10px;}
.input-date > div:after{content:'~';display:block;position:absolute;right:-10px;top:0;font-size:14px;width:20px;line-height:40px;text-align:center;}
.input-date > div:first-child{padding-left:0;}
.input-date > div:last-child{padding-right:0;}
.input-date > div:last-child:after{display:none;}

/* input-date */
[class*='input-date-0']{margin:0 -9px;position:relative;}
[class*='input-date-0'] input{padding-right:30px;}
[class*='input-date-0'] > span{float:left;width:50%;padding:0 9px;box-sizing:border-box;z-index:1;position:relative;}
[class*='input-date-0'] button{display:block;width:100%;position:absolute;right:0;top:0;background:none;height:100%;border:0;line-height:1;padding:0 10px 0 0;text-align:right;}
[class*='input-date-0'] button img{height:19px;}
[class*='input-date-0']:after{content:'';display:block;clear:both;}
[class*='input-date-0'] .divider{position:absolute;left:50%;top:50%;width:14px;padding:0;float:none;-webkit-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%);text-align:center;display:block;z-index:0;}
.input-date-01{margin:0;}
.input-date-02 button,
.input-date-03 button{padding-right:20px;}

/* input + text*/
.input-text-box{font-size:16px;padding:10px 9px;color:#737373;background:#f5f5f5 ;border:1px solid #bbb;}
.memo-text{color:#666;margin-top:3px;clear:both;font-size:13px;}
.memo-text:first-child{margin-top:0;}
.data-text{font-size:12px;color:#666;text-align:right;}
.rule-text{padding:10px;margin-bottom:10px;background:#fff;border:1px solid #d6d6d6;color:#333;height:102px;overflow:auto;}
.rule-text .rule-tit{display:block;font-size:14px;margin-bottom:7px;color:#000;font-weight:normal;}
.alert-txt{font-size:12px;color:#a81212;text-align:right;}
.alert-txt.error-txt{text-align:left;}
.input-add-txt2.type2 + .data-text,
.input-add-txt2.type2 + .alert-txt{margin-top:4px;}
.checkbox-summary{margin-top:10px;padding-left:12px;color:#333;}
.checkbox .checkbox-summary{padding-left:0;}
.checkbox-summary .dot-list{font-size:inherit;}

/* require*/
.require{display:inline-block;position:relative;text-indent:-999px;overflow:hidden;vertical-align:4px;text-align:center;width:10px;height:10px;}
.require:after{content:'*';display:inline-block;position:absolute;text-indent:0;top:-2px;right:0;width:10px;height:10px;color:#e71b1b;}

/*
* @step
* -------------------------------------
*/
.step{margin:0 -15px;padding:15px 10px;border-bottom:1px solid #bbb;}
.step ol{text-align:right;}
.step ol li{display:inline-block;margin-left:10px;position:relative;}
.step ol li span{display:inline-block;line-height:1;}
.step ol li .num{width:20px;height:20px;line-height:20px;background:#fff;border-radius:50%;border:1px solid #888;font-size:12px;color:#666;text-align:center;}
.step ol li .txt{display:none;color:#333;font-size:12px;margin-left:5px;}
.step ol li:after{content:'';display:block;position:absolute;right:-14px;top:50%;width:14px;height:1px;background:#888;margin-top:-0.5px;}
.step ol li.active .num{color:#fff;border-color:#926741;background:#926741;}
.step ol li.active .txt{display:inline-block;padding-right:2px;}
.step ol li:last-child:after{display:none;}
.step + .input-agree-01{border-top:0;}
.step + .list-type{border-top:0;}
.step ol+ol{margin-top:10px;}

.step-02{text-align:center;}
.step-02 ol{display:inline;font-size:0;}
.step-02 ol li{display:inline-block;padding:2px;margin:0 3px;vertical-align:top;border:1px solid transparent;border-radius:15px}
.step-02 ol li span{display:inline-block;vertical-align:top;line-height:20px;font-size:13px;}
.step-02 ol li .num{width:20px;background:#cacaca url(../../../img/wms/app/ico/ico_step_chk.png) no-repeat center center;background-size:11px auto;border-radius:50%;text-align:center;letter-spacing:0;font-size:0;color:transparent;}
.step-02 ol li .txt{display:none;padding:0 8px 0 4px;}
.step-02 ol li.active{border-color:#b50b0b;}
.step-02 ol li.active ~ li .num{font-size:13px;color:#474747;background-image:none;}
.step-02 ol li.active .num{font-size:13px;color:#fff;background:#b50b0b;}
.step-02 ol li.active .txt{display:inline-block;}

.step-text{color:#333;text-align:center;}
.step-02 + .step-text{margin-top:10px;}

/*
* @list
* -------------------------------------
*/
/* dot list */
.dot-list{color:#666;font-size:12px;margin-top:5px;}
.dot-list:first-child{margin-top:0px;}
.dot-list > li{position:relative;padding:0 0 0 5px;}
.dot-list > li + li{margin-top:5px;}
.dot-list > li:before{content:'';display:block;width:2px;height:2px;position:absolute;left:0;top:0.7em;background:#666;border-radius:50%;}
.dot-txt{margin:10px 0 0 0;padding:0 0 0 10px;position:relative;color:#333;}
.dot-txt:before{content:'';display:block;width:2px;height:2px;position:absolute;left:0;top:0.6em;background:#333;border-radius:50%;}

/* dash list*/
.dash-list{color:#666;font-size:12px;margin-top:5px;}
.dash-list > li{margin:5px 0 0;padding:0 0 0 5px;position:relative;}
.dash-list > li:before{content:'-';position:absolute;left:0;top:0;}

/* number list */
.number-list{padding-left:15px;color:#666;font-size:11px;}
.number-list > li{list-style:decimal;margin:5px 0 0;}

/* comm list*/
.comm-list{margin-top:5px;color:#666;font-size:12px;}
.comm-list > li{margin:5px 0 0;}

/*
* @tab
* -------------------------------------
*/
[class*='tabmenu']{margin:0 -15px;}
[class*='tabmenu'] .length-1 li{width:100%;}
[class*='tabmenu'] .length-2 li{width:50%;}
[class*='tabmenu'] .length-3 li{width:33.333333%;}
[class*='tabmenu'] .length-4 li{width:25%;}
[class*='tabmenu'] .length-5 li{width:20%;}
[class*='tabmenu'] .length-6 li{width:16.777777%;}
[id*='ui-tab-']{display:none;}
.tab-cont{display:none;-webkit-animation:fadeIn 1s;animation:fadeIn 1s;}
.tab-cont.on{display:block;}

/* type-01 */
.tabmenu-01 > ul{overflow:hidden;display:table;width:100%;border-bottom:1px solid #dbdbdb;font-size:14px;color:#555;table-layout:fixed;}
.tabmenu-01 > ul > li{position:relative;display:table-cell;text-align:center;width:100%;}
.tabmenu-01 > ul > li > a{display:block;padding:0 5px;line-height:49px;}
.tabmenu-01 > ul > li > a > span{position:relative;display:inline-block;vertical-align:top;word-break:break-word;}
.tabmenu-01 > ul > li.active > a{color:#b50b0b;font-weight:bold;}
.tabmenu-01 > ul > li.active > a > span:before{content:'';display:block;width:100%;position:absolute;bottom:-1px;left:0;border-bottom:3px solid #b50b0b;-webkit-animation:tabEf 0.3s linear;animation:tabEf 0.3s linear;}
@-webkit-keyframes tabEf{
	0%{left:50%;width:0;opacity:0;}
	100%{left:0;width:100%;opacity:1;}
}
@keyframes tabEf{
	0%{left:50%;width:0;opacity:0;}
	100%{left:0;width:100%;opacity:1;}
}
.tabmenu-01.type2 > ul{table-layout:auto;}
.tabmenu-01.type2 > ul > li{width:auto}

.page-tit + .tabmenu-01{margin-top:-15px;}
.tabmenu-01+.btn-wrap{margin:10px 0;}
.tabmenu-01+.btn-wrap+.product-list-01,
.tabmenu-01+.product-list-01{margin-top:0;}

/* type-02 */
.tabmenu-02{margin:20px 0 0;}
.tabmenu-02 ul{overflow:hidden;display:table;width:100%;}
.tabmenu-02 li{display:inline-table;vertical-align:top;}
.tabmenu-02 li a{word-break:keep-all;display:table-cell;height:40px;font-size:12px;color:#666;background:#f5f5f5;text-align:center;border:1px solid #dadada;border-bottom:1px solid #e71b1b;vertical-align:middle;}
.tabmenu-02 li:first-child a{border-left-width:1px;}
.tabmenu-02 li.active a{color:#e71b1b;background:#fff;border:1px solid #e71b1b;border-bottom-color:#fff;}

/*
* @table
* -------------------------------------
*/
.table{border-top:1px solid #d6d6d6;font-size:14px;}
.table th,
.table td{text-align:center;border-bottom:1px solid #d6d6d6;padding:13px 5px;word-break:break-all;}
.table th{background:#f2f5f6;}
.table td.a-right{white-space:nowrap;}
/* .table td.a-right{padding-right:10px;}
.table td.a-left{padding-left:10px;} */
.table.left th,
.table.left td{text-align:left;padding-left:10px;}
.table.line th,
.table.line td{border-right:1px solid #d6d6d6;}
.table.line th:last-child,
.table.line td:last-child{border-right:0 none;}
.table .last th,
.table .last td{background:#f9f9f9;}

.tbl-wrap{position:relative;overflow:auto;}
.tbl-wrap th,
.tbl-wrap td{white-space:nowrap;}
.tbl-guide{position:absolute;top:0;left:0;width:100%;height:100%;padding:10px;background:rgba(0,0,0,0.5);color:#fff;box-sizing:border-box;display:flex;align-items:center;justify-content:center;text-align:center;}

.table-col{padding:5px 0;}
.table tr > .col-on{position:relative;color:#fff;}
.table tr > .col-on > *{position:relative;}
.table tr > .col-on:before{content:'';display:block;position:absolute;left:0;top:0;width:100%;height:100%;padding-bottom:1px;background:rgba(208,41,41,0.7);}
.table tr.col-first > .col-on:after,
.table tr.col-last > .col-on:after{content:'';display:block;position:absolute;left:0;width:100%;height:11px;background:rgba(208,41,41,0.7);}
.table tr.col-first > .col-on:after{top:-11px;border-radius:5px 5px 0 0;}
.table tr.col-last > .col-on:after{bottom:-11px;height:10px;border-radius:0 0 5px 5px;}
.table .table-col-box{position:relative;display:block;margin:-13px -5px;padding:13px 5px;}

/* paging */
.paging{text-align:center;font-size:0;margin-top:20px;}
.paging a,
.paging span{display:inline-block;width:25px;height:25px;line-height:25px;overflow:hidden;margin:0 5px;vertical-align:top;}
.paging a{background:url(../../../img/wms/app/common/btn_paging.png) no-repeat left top;background-size:25px auto;color:transparent;}
.paging .first{background-position:0 0;}
.paging .prev{background-position:0 -25px;}
.paging .next{background-position:0 -50px;}
.paging .last{background-position:0 -75px;}
.paging .current{font-size:14px;width:auto;padding:0 12px;color:#666;}
.paging .current em{color:#000;font-weight:bold;}
.paging .disabled{opacity:0.5;cursor:default;}

/* type 02*/
.tbl-type-02 table{border-top:1px solid #b6997f;width:100%;}
.tbl-type-02 table tr:nth-child(even){background:#f9f9f9;}
.tbl-type-02 table th,
.tbl-type-02 table td{border-bottom:1px solid #d6d6d6;padding:13px 10px;text-align:left;}
.tbl-type-02 table th{font-size:14px;color:#555;}
.tbl-type-02 table td{font-size:16px;color:#333;}
.tbl-type-02.td-right td{text-align:right;}
.tbl-type-02.td-right td .input-tit{text-align:left}
.tbl-type-02 .td-center{text-align:center;}
.tbl-type-02 table td.cnt {font-size:14px;line-height:1.5;}

/*
* @ alarm-box
* -------------------------------------
*/
.alarm-box{position:fixed;left:0;right:0;bottom:0;margin-bottom:-300px;z-index:100;}
.alarm-box > a,
.alarm-box > div{display:block;background:rgba(0,0,0,0.75);padding:13px 25px;border-radius:2px 2px 0 0;color:#fff;font-size:11px;}
.iPhoneX .alarm-box > a,
.iPhoneX .alarm-box > div{padding-bottom:calc(constant(safe-area-inset-bottom) + 25px);padding-bottom:calc(env(safe-area-inset-bottom) + 25px);}
.alarm-box .tit{font-size:13px;font-weight:bold;}
.alarm-box .txt{line-height:1.3;}
.alarm-box .tit + .txt{margin-top:3px;}

/*
* @ alert-box
* -------------------------------------
*/
.alert-box{text-align:center;padding:20px 0 20px;}
.alert-box .tit{font-size:14px;color:#333;font-weight:bold;margin-bottom:10px;}
.alert-box .text{margin-top:5px;color:#666;}
.alert-box .text.big-font{font-size:16px;}
.alert-box.pdsm .tit{margin-bottom:5px;}

/* theme 01*/
.alert-box.theme-01{background:url(../../../img/wms/app/ico/ico_warning.png) no-repeat 50% 20px;background-size:50px;padding:80px 0 20px;}
.alert-box.theme-03{background:url(../../../img/wms/app/ico/ico_end.png) no-repeat 50% 20px;background-size:50px;padding:80px 0 20px;}
.alert-box.theme-02{margin:50px 0 10px;}
.alert-box.theme-02 .tit{margin-bottom:7px;font-size:17px;}
.alert-box.theme-04{background:url(../../../img/wms/app/ico/ico_lending.png) no-repeat 50% 58px;background-size:144px;padding:130px 0 20px;}
.alert-box.theme-04 .tit{font-size:16px;color:#555;}
.alert-box.pdsm{padding:20px 0 10px 0;background:none;}

/*
* @ text-box
* -------------------------------------
*/
.text-box{position:relative;}
.text-box a{text-decoration:underline;}
.text-box a.btn{text-decoration:none;margin-top:5px;}
.text-box .tit{font-size:14px;color:#333;font-weight:bold;display:inline-block;}
.text-box .btn.toggle-02{padding:0;width:100%;height:47px;border:0;text-indent:-9999px;position:absolute;top:0;right:0;background:none;}
.text-box .btn.toggle-02:after{content:'';display:block;width:25px;height:25px;position:absolute;right:15px;top:50%;margin-top:-10.5px;background:url(../../../img/wms/app/ico/ico_toggle.png) no-repeat;background-size:100%;}
.text-box .btn.toggle-02.active:after{-webkit-transform:rotate(180deg);transform:rotate(180deg);}

/* theme 01*/
.text-box.theme-01{margin:0 -15px;padding:13px 15px;background:#fbf9f5;border-bottom:1px solid #bbb;}
.text-box.theme-01 > .text:first-child{margin-top:0;}
.text-box.theme-01 .text{color:#666;margin-top:15px;}
.text-box.theme-01 .tit + .text{display:none;}
.text-box.theme-01 .tit + .text.active{display:block;}
.text-box.theme-01 .dot-list .btn.round.small{margin-top:5px;text-decoration:none;}
.text-box.theme-01 .text .dot-list .dash-list{margin-top:7px;}
.text-box.theme-01 table{margin-top:20px;border-top:1px solid #b6997f;background:#fff;}
.text-box.theme-01 table th{padding:10px 0;border-bottom:1px solid #d6d6d6;}
.text-box.theme-01 table td{padding:10px 0;text-align:center;border-bottom:1px solid #d6d6d6;}
.text-box.theme-01 table thead tr{background:#f9f9f9;}
.text-box.theme-01 .text > ul > li > em{display:block;margin-bottom:4px;font-weight:bold;}
.text-box.theme-01 .text > ul > li + li > em{margin-top:10px;}
.text-box.theme-01 +.agree-wrap .input-agree-01:first-child{border-top:0;}

/* theme 02*/
.text-box.theme-02{background:none;margin-top:30px;}
.text-box.theme-02 .text{display:block;}
.text-box.theme-02 .tit.color{font-size:15px;color:#b84a13;}
.text-box.theme-02 .tit.color + .text{font-weight:normal;font-size:14px;color:#666;line-height:140%;}
.text-box.theme-02.type2 .tit{font-size:16px;}
.text-box.theme-02.type2 .text.type2{padding:10px;background:#f1f1f1;border:1px solid #ccc;margin-top:10px;}

/* theme 03*/
.text-box.theme-03{border:1px solid #cfcfcf;padding:15px;margin-top:10px;}

/* new_type */
.text-box.new_type{margin-bottom:15px;}
.text-box.new_type .tit{display:block;border:1px solid #ccc;border-left:0;border-right:0;padding:0 15px;height:32px;line-height:32px;}
.text-box.new_type .btn.toggle-02{height:28px;}
.text-box.new_type .btn.toggle-02:active{margin-top:0;top:7px;}
.text-box.new_type .text.active{display:block;padding:0 15px;}
.text-box.new_type .text{display:none;margin-top:10px;}

/*
* @ img-box
* -------------------------------------
*/
.img-box{min-height:74px;position:relative;padding-left:104px;}
.img-box .img{width:84px;height:74px;position:absolute;top:2px;left:0;}
.img-box .img img{width:100%;}
.img-box .img + p{margin-top:0 !important;line-height:1.4em;}
.img-box.aright{padding-left:0;padding-right:104px;}
.img-box.aright .img{left:initial;right:0;}

/*
* @ msg-box
* -------------------------------------
*/
.text-box + [class*='msg-box']{margin-top:25px;border-bottom:0;}
[class*='msg-box']{padding:40px 17px;background-color:#fbf9f5;border-bottom:1px solid #e6e6e6;text-align:center;}
[class*='msg-box'].type2{margin:0 -15px;padding:20px 17px;font-size:14px;line-height:20px;}
[class*='msg-box'] .time{font-size:29px;color:#e71b1b;margin-top:10px;}
[class*='msg-box'] .tit-sub + .sub-error{margin-top:5px;}
[class*='msg-box'] .sub-error{display:block;color:#e71b1b;font-style:normal;margin-bottom:3px;}

/*
* @full-scroll-area
* -------------------------------------
*/
.full-scroll-area > *{left:15px;right:15px;}
.full-scroll-area .title{position:absolute;top:0;padding-top:24px;font-size:17px;color:#333;margin:0;}
.full-scroll-area .con{position:fixed;top:61px;bottom:67px;overflow:auto;padding:10px;border:1px solid #e6e6e6;}
.full-scroll-area .con.img{top:20px;bottom:20px;border:0;}
.full-scroll-area .con.img img{width:100%;}
.full-scroll-area .btn-wrap{position:absolute;bottom:0px;left:0;right:0;margin:0;}
.full-scroll-area .btn-wrap > span{padding:0;}
.full-scroll-area .btn-wrap > .btn{width:100%;}
.full-scroll-area strong + strong,
.full-scroll-area p + strong,
.full-scroll-area strong + ul,
.full-scroll-area ul + strong{display:block;margin-top:10px;}
.full-scroll-area p + .tit-sub-02{display:block;margin-top:25px;}

.full-scroll-area-02 > *{left:15px;right:15px;}
.full-scroll-area-02.chg-agree .con .title{position:absolute;top:0;padding-top:24px;font-size:17px;color:#333;margin:0;}
.full-scroll-area-02.chg-agree .con .inner{position:fixed;top:61px;bottom:67px;left:15px;right:15px;overflow:auto;padding:10px;border:1px solid #e6e6e6;}
.full-scroll-area-02.chg-agree .con .inner.typ-02{top:80px;}
.full-scroll-area-02.chg-agree .con > li{display:none;}
.full-scroll-area-02.chg-agree .con > li.on{display:block;}
.full-scroll-area-02 .btn-wrap{position:absolute;bottom:0;left:0;right:0;margin:0;}
.full-scroll-area-02 .btn-wrap > span{padding:0;}
.full-scroll-area-02 strong + strong,
.full-scroll-area-02 p + strong,
.full-scroll-area-02 strong + ul,
.full-scroll-area-02 ul + strong{display:block;margin-top:10px;}
.full-scroll-area-02 p + .tit-sub-02{display:block;margin-top:25px;}

/*
* @loading
* -------------------------------------
*/
.bx-loading{position:fixed;top:0;right:0;bottom:0;left:0;background:url(../../../img/wms/app/bg/loading_01.png) right top no-repeat,url(../../../img/wms/app/bg/loading_02.png) left bottom no-repeat;background-size:135px 178px,166px 121px;}
.bx-loading .inner{position:absolute;top:50%;left:50%;margin:-37px 0 0 -70px;text-align:center;color:#333;}
.bx-loading .inner strong{display:block;font-size:16px;}
.bx-loading .inner span{display:block;font-size:15px;margin-top:4px;}
.bx-loading .inner img{width:56px;height:15px;margin-top:20px;}

.loading_background{position:fixed;top:0;left:0;width:100%;height:100%;background:#fff;z-index:1000;display:none;}
.loading_lon{position:absolute;top:50%;left:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);margin-left:-120px;z-index:1000;}
.loading_lon .backbox{width:240px;height:228px;background:url(/resource/img/sbp/bg/lonloading_bg1.png)no-repeat 0 0;background-size:100%;margin:0 auto;}
.loading_lon .text_box{text-align:center;line-height:1.6;margin-top:10px;}
.loading_lon .text_box strong{display:block;font-size:18px;color:#d71a21;}
.loading_lon .text_box em{color:#d71a21;font-weight:bold;}
.loading_lon .text_box > span{font-size:16px;display:block;padding-top:10px;font-weight:bold;}
.loading_lon .percent_div{text-align:center;font-size:22px;font-weight:bold;color:#000;}
.loading_lon .percent_box{width:200px;overflow:hidden;margin:5px auto 0 auto;}
.loading_lon .bgbox{position:relative;background:#d71a21;width:100%;height:12px;border-radius:12px;-webkit-border-radius:12px;overflow:hidden;border:1px solid #eeeeee;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.loading_lon .bgbox > span{position:absolute;right:0;width:100%;background:#e7e7e7;z-index:1;height:100%;
-webkit-transition:all 0.1s ease-in-out;
-moz-transition:all 0.1s ease-in-out;
-ms-transition:all 0.1s ease-in-out;
-o-transition:all 0.1s ease-in-out;
transition:all 0.1s ease-in-out;}

.pre-loading{position:fixed;left:-9999px;top:-9999px;width:0;height:0;z-index:-1;opacity:0;overflow:hidden;}
.pre-loading span{background-repeat:no-repeat;width:0;height:0;}

/* 320 대응:아이폰앱에서 아이폰X 빼고 가로 320 사이즈로 웹뷰영역 출력 */
@media all and (max-width:320px){
	.btn{padding:0 10px;}
	.btn.small{padding:0px 5px;}
	.btn.large{font-size:17px;padding:0px 15px;}
	.input-btn .input-date input[type='date'],
	.input-btn .input-date input[type='month']{font-size:14px;padding:0 7px;background-position:right 7px center;background-size:auto 15px;}
	.table{font-size:13px;}
	.table .memo-text{font-size:12px;}
}