@charset "utf-8";

/* 웹 폰트 - 나눔고딕, 나눔고딕 볼드 */
@font-face {
	font-family:'NGNormal';
	font-style:normal;
	font-weight:400;
	src:url('../font/NanumGothic.eot');
	src:local(※), url('../font/NanumGothic.eot') format('embedded-opentype'), url('../font/NanumGothic.woff') format('woff');
}
@font-face {
	font-family:'NGBold';
	font-style:normal;
	font-weight:700;
	src:url('../font/NanumGothicBold.eot');
	src:local(※), url('../font/NanumGothicBold.eot') format('embedded-opentype'), url('../font/NanumGothicBold.woff') format('woff');
}


/* HTML Default */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, article, aside, hgroup, header, footer, figure, figcaption, nav, section { margin:0; padding:0; border:0; font-size:100%; vertical-align:baseline; background:transparent; }
body { font:normal .75em/1.45 "나눔고딕", NanumGothic, NGNormal, "돋움", Dotum, Arial, Tahoma , Geneva, Verdana; color:#333; -webkit-text-size-adjust:none; }
h1, h2, h3, h4, h5, h6 { font-weight:Normal; font-family:NGBold, "돋움", Dotum; } 
ol, ul { list-style:none; overflow:hidden;  }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,q:before, q:after { content:''; }
table { border-collapse:collapse; border-spacing:0; width:100%; }
th { font-weight:Normal; font-family:NGBold, "돋움", Dotum; }
button { margin:0; padding:0; border:0; font:inherit; color:inherit; background:transparent; overflow:visible; cursor:pointer; line-height:1; }
a:link, a:visited, a:hover, a:active, a:focus { text-decoration:none; color:inherit; cursor:pointer; }
legend, caption { width:0; height:0; visibility:hidden; font-size:0; line-height:0; }
textarea { resize:vertical; font:inherit; overflow-y:auto; }
input, select { color:inherit; font:inherit; line-height:100%; }
img, select, input { vertical-align:middle; }

/* common */
.bgLayer { display:none; position:fixed; top:0; left:0; z-index:3000; width:100%; height:100%; background:#333; opacity:0.6; }
.hideScroll { overflow-y:hidden; }
.bgLoading { display:none; position:absolute; top:0; left:0; width:100%; height:100%; background:#fff; opacity:0.6;  }
#toTop { display:none; position:fixed; right:10px; bottom:10px; width:40px; height:40px; font-size:0; text-indent:-1000px; text-align:center; color:#fff; background:url('http://museum.bok.or.kr/static/images/common/bg/toTop.png') center center no-repeat #777; opacity:0.8; border-radius:20px;  }
#toTop:hover, #toTop:focus, #toTop.hover { background-color:#CD8F47; }


/* common form element */
table{color: #696969;}
input.inpTxt, input.inpFile { padding:3px 1px; border:1px solid #cdcdcd; background:#fff; border-radius:3px; box-shadow:inset 0 0 2px #d1d1d1;}
input.inpFile { margin:0 3px 0 0; }
textarea.txtArea { border:1px solid #cdcdcd; background:#fff; }
select.txtSel { height:25px; }

.ie7 area:focus { outline:0; }




/** anoju 추가 **/
input,textarea{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-ms-box-sizing: border-box;box-sizing: border-box;}

.hide{display:none;} 
.skip{position:absolute;overflow:hidden;visibility:hidden;width:1px;height:1px;font-size:0;line-height:0;text-indent:-9999px;}
.ellipsis{display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
.op80{-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter: alpha(opacity=80);-moz-opacity: 0.8;-khtml-opacity: 0.8;opacity: 0.8;}
.op60{-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";filter: alpha(opacity=60);-moz-opacity: 0.6;-khtml-opacity: 0.6;opacity: 0.6;}

.in_block{display:inline-block;}
.inline{display:inline;}
.block{display:block;}
.rel{position:relative;}

/* sort 정렬 */
.ac{text-align:center;}
.al{text-align:left;}
.ar{text-align:right;}
.fl{float:left;}
.fr{float:right;}
.vt{vertical-align:top;}
.vm{vertical-align:middle;}
.vb{vertical-align:bottom;}
.clear{clear:both;}

/*font*/
.fontNumber{ font-family: 'Tahoma';}
.font11{font-size:11px;}
.font12{font-size:12px;}
.font14{font-size:14px;}
.font16{font-size:16px;}
.bold{font-weight:bold;}
.underline{text-decoration:underline;}

/* NO_padding/margin/line/bar/bg */
.nopad{padding:0;}
.nomar{margin:0;}
.noline{border:none;}
.nobg{background:none !important;}

/* 
html, body { height:100%; -webkit-text-size-adjust:none; }
input, textarea { -webkit-appearance:none; -webkit-border-radius:0; }
input[type="checkbox"] { -webkit-appearance:checkbox; }
input[type="radio"] { -webkit-appearance:radio; -webkit-border-radius:10px; }
*/