@charset "utf-8";
@import url('/css/default.css');
@import url('/css/layout.css');
@import url('/css/contentCommon.css');

form.selectMonth { position:relative; margin-bottom:10px; overflow:hidden; }
form.selectMonth span.year { float:left; position:relative; width:96px; height:39px; background-color:#636363; }
form.selectMonth span.year button { position:absolute; top:13px; width:7px; height:13px; overflow:hidden; }
form.selectMonth span.year button span { position:absolute; top:0; left:0; width:100%; height:100%; background:url('/images/event/btnYear.gif') no-repeat 0 0; }
form.selectMonth span.year button.prev { left:18px; }
form.selectMonth span.year button.next { right:18px; }
form.selectMonth span.year button.next span { background-position:100% 0; }
form.selectMonth span.year input { display:block; width:100%; height:16px; margin-top:10px; border:0; color:#d5d5d5; font-family:NGBold, "돋움", Dotum; font-size:1.3em; background-color:transparent; line-height:16px; text-align:center; }
form.selectMonth span.month { float:left; width:628px; height:37px; border:1px solid #e9e9e9; border-left:0; background-color:#f6f6f6; }
form.selectMonth span.month button { float:left; width:50px; height:17px; margin-top:11px; color:#888; font-family:NGBold, "돋움", Dotum; background:url('/images/event/bgBarV01.gif') no-repeat 0 50%; line-height:17px; }
form.selectMonth span.month button:first-child { margin-left:7px; background:none; }
form.selectMonth span.month button.on { color:#333; font-size:1.2em; }
form.selectMonth > span { position:absolute; width:3px; height:3px; background:url('/images/event/bgRound.gif') no-repeat 0 0; overflow:hidden; z-index:999; }
form.selectMonth > span.lt { top:0; left:0; }
form.selectMonth > span.rt { top:0; right:0; background-position:-3px 0; }
form.selectMonth > span.rb { bottom:0; right:0; background-position:-3px -3px; }
form.selectMonth > span.lb { bottom:0; left:0; background-position:0 -3px; }

ul.occationList { clear:both; width:726px; margin-bottom:15px; border-top:1px solid #eaeaea; background:url('/images/event/bgDot01.gif') repeat-x 0 100%; overflow:hidden; }
ul.occationList li { float:left; width:350px; height:192px; padding-right:13px; border-bottom:1px solid #eaeaea; }
ul.occationList h4 { margin:25px 0 15px; font-size:1.3em; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
ul.occationList h4 a { color:#333; }
ul.occationList h4 a:hover,
ul.occationList h4 a:active,
ul.occationList h4 a:focus { text-decoration:underline; }
ul.occationList img { float:left; width:135px; height:96px; margin-right:20px; }
ul.occationList dl { margin-bottom:10px; font-size:.9em; line-height:1.5; overflow:hidden; }
ul.occationList dt { clear:left; float:left; width:30px; font-family:NGBold, "돋움", Dotum; }
ul.occationList dd { float:left; width:160px; }
ul.occationList p { line-height:1.5; }

div.occasionInfo { position:relative; min-height:224px; margin:18px 0 38px; }
div.occasionInfo > img { position:absolute; top:50%; left:0; width:316px; height:224px; margin-top:-112px; }
div.occasionInfo dl { margin-left:346px; padding-top:12px; overflow:hidden; }
div.occasionInfo dt { float:left; width:95px; padding-left:10px; color:#666; font-family:NGBold, "돋움", Dotum; background:url('/images/event/bgDot02.gif') no-repeat 0 50%; }
div.occasionInfo dd { float:left; width:255px; margin-bottom:12px; padding-left:15px; background:url('/images/common/bg/bgDotLineV01.gif') no-repeat 0 5px; }
div.occasionInfo dd a { color:#666; }

ul.occasionTab { margin-bottom:25px; overflow:hidden; }
ul.occasionTab li { float:left; }
ul.occasionTab a { display:block; position:relative; width:242px; height:39px; height:overflow:hidden; }
ul.occasionTab a.tab01 { width:241px; }
ul.occasionTab a span { position:absolute; top:0; left:0; width:100%; height:100%; background:url('/images/event/bgTab01.gif') no-repeat 0 0; }
ul.occasionTab a.tab02 span { background-position:-241px 0; }
ul.occasionTab a.tab03 span { background-position:-483px 0; }
ul.occasionTab a.tab01.on span { background-position:0 -40px; }
ul.occasionTab a.tab02.on span { background-position:-241px -40px; }
ul.occasionTab a.tab03.on span { background-position:-483px -40px; }

div.occasionCont { margin-bottom:15px; padding-bottom:25px; border-bottom:1px solid #eaeaea; }

ul.eventList { margin-bottom:15px; }
ul.eventList li { display:table; position:relative; width:725px; height:151px; border-bottom:1px solid #eaeaea; overflow:hidden; }
ul.eventList li:first-child { margin-top:-20px; }
ul.eventList li > a { float:left; margin:30px 20px 0 0; }
ul.eventList li > a img { width:222px; height:90px; }
ul.eventList div { display:table-cell; *position:absolute; *top:50%; width:490px; vertical-align:middle; }
ul.eventList h4 { *position:relative; *top:-50%; width:320px; margin-bottom:5px; font-size:1.2em; }
ul.eventList h4 a { color:#333; line-hjeight:1; }
ul.eventList dl { *position:relative; *top:-50%; width:320px; overflow:hidden; }
ul.eventList dt { float:left; width:89px; font-family:NGBold, "돋움", Dotum; }
ul.eventList dd { float:left; width:230px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
ul.eventList li > span { position:absolute; top:45px; right:10px; height:61px; }
ul.eventList li > span > * { float:left; width:61px; height:61px; margin-left:5px; }